@section Styles{
    <link rel="stylesheet" href="~/content/styles/layout/collocation.css" />
    <link rel="stylesheet" href="~/content/styles/swiper/swiper.css" />
}

@section Scripts{
    <script src="~/Content/Scripts/swiper/swiper.min.js"></script>
    <script>
        var Swiper = new Swiper('.swiper-container', {
            autoplayDisableOnInteraction: false, //注意此参数，默认为true
            initialSlide: 0,
            direction: 'vertical',
            pagination: '.swiper-pagination',
            spaceBetween: 10,
            mousewheelControl: true
        });
    </script>
}

<div class="container">
    <div class="back">
        <a href="@Url.Action("index")">返回</a>
    </div>
    <div class="header">
        <img src="~/Content/Images/shoping/collocation/collocation_header.png" />
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="clearfix page1">
                    <div class="left">
                        <div class="clearfix left-top">
                            <div class="left-top-bg"></div>
                            <div class="left-top-left">
                                <img src="~/Content/Images/shoping/collocation/wl(1).jpg" />
                            </div>
                        </div>
                        <div class="left-top-right">
                            <div class="des">
                                <div>
                                    <div>黑白灰系列</div>
                                    <p>
                                        Life is full of confusing and disordering Particular time,a particular location,Do the arranged thing of ten million time in the brain,Step by step ,the life is ard to avoid delicacy and stiffness No enthusiasm forever
                                    </p>
                                </div>
                            </div>
                            <div class="img"><img src="~/Content/Images/shoping/collocation/wxz(28).jpg" /></div>
                        </div>
                        <div class="clearfix left-bottom">
                            <div>
                                <img src="~/Content/Images/shoping/collocation/wxz(11).jpg" />
                            </div>
                            <div>
                                <img src="~/Content/Images/shoping/collocation/wxz(15).jpg" />
                            </div>
                            <div>
                                <img src="~/Content/Images/shoping/collocation/wxz(19).jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="right"><img src="~/Content/Images/shoping/collocation/MR5A6154.jpg" /></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="clearfix page2">
                    <div class="left">
                        <div class="leftZZ"></div>
                        <div class="left-border">
                            <img src="~/Content/Images/shoping/collocation/MR5A6256.jpg" />
                        </div>
                    </div>
                    <div class="right">
                        <div class="right-left">
                            <div><img src="~/Content/Images/shoping/collocation/wxz(13).jpg" /></div>
                            <div><img src="~/Content/Images/shoping/collocation/wxz(14).jpg" /></div>
                            <div class="des">
                                <div>黑白灰系列</div>
                                <p>
                                    Life is full of confusing and disordering Particular time,a particular location,Do the arranged thing of ten million time in the brain,Step by step ,the life is ard to avoid delicacy and stiffness No enthusiasm forever
                                </p>
                            </div>
                        </div>
                        <div class="right-right">
                            <div class="right-right-top">
                                <div class="rrt-border"></div>
                                <img src="~/Content/Images/shoping/collocation/wxz(18).jpg" />
                            </div>
                            <div class="right-right-bottom">
                                <div><img src="~/Content/Images/shoping/collocation/wxz(31).jpg" /></div>
                                <div><img src="~/Content/Images/shoping/collocation/wxz(37).jpg" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="clearfix page3">
                    <div class="left">
                        <div class="clearfix left-top">
                            <div><img src="~/Content/Images/shoping/collocation/wxz(33).jpg" /></div>
                            <div><img src="~/Content/Images/shoping/collocation/wxz(34).jpg" /></div>
                            <div><img src="~/Content/Images/shoping/collocation/wxz(37).jpg" /></div>
                        </div>
                        <div class="clearfix left-bottom">
                            <div class="lb-left"><img src="~/Content/Images/shoping/collocation/wxz(35).jpg" /></div>
                            <div class="lb-des">
                                <div class="des">
                                    <div>黑白灰系列</div>Life is full of confusing and disordering Particular time,a particular location,Step by step ,the life is ard to avoid delicacy and stiffness No enthusiasm forever
                                </div>
                            </div>
                            <div class="lb-right"><img src="~/Content/Images/shoping/collocation/wxz(36).jpg" /></div>
                        </div>
                        <div class="right">
                            <div><img src="~/Content/Images/shoping/0fashionv.png" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="clearfix page4">
                    <div class="clearfix top">
                        <div class="t-left">
                            <div><img src="~/Content/Images/shoping/collocation/wxz(33).jpg" /></div>
                            <div><img src="~/Content/Images/shoping/collocation/wxz(11).jpg" /></div>
                        </div>
                        <div class="t-middle">
                            <img src="~/Content/Images/shoping/collocation/wl(1).jpg" />
                        </div>
                        <div class="t-right">
                            <div class="t-r-top">
                                <div class="des">
                                    <div>黑白灰系列</div>Do the arranged thing of ten million time in the brain,Step by step ,the life is ard to avoid delicacy and stiffness No enthusiasm forever
                                </div>
                            </div>
                            <div class="t-r-bottom"><img src="~/Content/Images/shoping/collocation/wl(1).jpg" /></div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div><img src="~/Content/Images/shoping/collocation/wxz(19).jpg" /></div>
                        <div><img src="~/Content/Images/shoping/collocation/wxz(13).jpg" /></div>
                        <div><img src="~/Content/Images/shoping/collocation/wxz(28).jpg" /></div>
                        <div><img src="~/Content/Images/shoping/collocation/wxz(34).jpg" /></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
        <!-- 如果需要导航按钮 -->
    </div>
</div>