<link href="~/Content/Styles/PermissionTree/permissionTree.css" rel="stylesheet" />
<script src="~/Content/Scripts/PermissionTree/PermissionTree.js"></script>
<style>
    #loading {
        position: absolute;
        top: 0%;
        left: -3%;
        background: rgba(0,0,0,0);
    }

    .tree {
        margin-left: 20px;
    }
</style>
<div>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
            </div>
        </div>
    </div>
    <div class="tree" style="height:600px;"></div>
</div>
<script>
    $(function () {
        $.post("/Authorities/MemberModule/GetTree?Rid=", { Rid: "@Request["Id"]" }, function (data) {
            $(".tree").loadTree(data);
        });
        $(".bootbox-close-button").click(function () {
            $(".par_view").parents(".modal-content:first").show(400);
        });
    });
</script>