* {
    margin: 0;
    padding: 0;
    color: #FFF;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    line-height: 0;
}

.clearfix:after {
    clear: both;
    font-size: 0;
    height: 0;
    display: block;
    visibility: hidden;
    content: " ";
    line-height: 0;
}

.clearfix {
    zoom: 1;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #282626;
    min-width: 1000px;
    font-family: "microsoft yahei", sans-serif;
}

@media only screen and (min-width: 1500px) {
    .part {
        height: 900px;
        position: relative;
    }
}

@media only screen and (max-width: 1499px) {
    .part {
        height: 600px;
        position: relative;
    }
}

.header {
    background: url(../../Images/shoping/header_bg.png) no-repeat;
    background-size: contain;
    border-bottom: 1px solid #e5c593;
}

.header_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.menu {
    padding: 20px;
    height:60px;
    z-index:9997;
}

.menu_logo {
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

.header_cloth {
    width: 20%;
    position: absolute;
    bottom: 100px;
    right: 10%;
    z-index: 10000;
    transition: .5s all;
    -webkit-transition: .5s all;
}

    .header_cloth:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }

.header_cloth_bg {
    width: 55%;
    position: absolute;
    bottom: 20px;
    right: 5%;
}

.menu > li {
    font-size: 16px;
    position: relative;
    color: #e5c593;
    float: right;
    margin: 0 20px;
    padding: 5px;
    opacity: .5;
}

    .menu > li > a {
        position: relative;
        color: #e5c593;
    }

    .menu > li:hover {
        opacity: 1;
    }

    .menu > li.active {
        color: #e5c593;
        opacity: 1;
        text-shadow: 5px 5px 3px #000;
    }



.part1 {
    background: url(../../Images/shoping/part1bg.png) no-repeat;
    background-size: 90%;
    background-position: 50% 20%;
}

.part_cloth {
    transition: .5s all;
    -webkit-transition: .5s all;
    width: 30%;
    position: absolute;
    top: 30%;
    right: 5%;
}

    .part_cloth:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }

.part2 {
    position: relative;
}

    .part2 > img {
        width: 100%;
    }

.part2_bg {
    position: absolute;
    top: 0;
    left: 0;
}

.part2 .more {
    cursor: pointer;
    width: 150px;
    height: 40px;
    background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 40%;
}

    .part2 .more > img {
        display: block;
        margin: 8px auto;
        height: 60%;
    }

.part3_title {
    margin: 40px;
    margin-right: 50px;
    float: right;
}

    .part3_title span {
        font-size: 14px;
        padding: 0 5px;
        color: #e5c593;
    }

    .part3_title > img {
        height: 14px;
    }

.part3_cloth_list {
    margin: 0 20px;
    padding-top: 100px;
}

.cloth_list > li {
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 25%;
    transition: .5s all;
    -webkit-transition: .5s all;
}

    .cloth_list > li:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
    }

    .cloth_list > li .cloth_name {
        color: #e5c593;
        border-top: 1px solid #e5c593;
        text-align: center;
        margin: 5px 0;
        padding: 10px 0;
        font-size: 14px;
    }

    .cloth_list > li > img {
        display: block;
        width: 100%;
    }

.part3_bottom {
    margin-top: 30px;
}

    .part3_bottom > img {
        display: block;
        width: 100%;
    }

.part4 {
    background: url(../../Images/shoping/part4_bg.png) no-repeat;
    background-size: cover;
}

.part4contain {
    width: 90%;
    margin: 10px 5%;
    position: relative;
    display: inline-block;
}

    .part4contain .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .part4contain > div > div {
        height: 100%;
        /*padding: 10px;*/
        box-sizing: border-box;
        float: left;
        width: 35%;
        overflow: hidden;
    }

        .part4contain > div > div > ul {
            height: 100%;
        }

            .part4contain > div > div > ul > li {
                /*cursor: pointer;*/
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 10px;
                overflow: hidden;
                height: 50%;
                transition: .5s all;
                -webkit-transition: .5s all;
            }

        .part4contain > div > div:nth-child(3) {
            height: 100%;
            /*padding: 10px;*/
            box-sizing: border-box;
            float: left;
            width: 30%;
        }

        .part4contain > div > div > ul > li.JOURNAL, .part4contain > div > div > ul > li.MORE {
            text-align: center;
            height: 40%;
        }

            .part4contain > div > div > ul > li.JOURNAL > div, .part4contain > div > div > ul > li.MORE > div {
                cursor: pointer;
                font-size: 20px;
                height: 100%;
                background: rgba(255,255,255,.25);
            }

                .part4contain > div > div > ul > li.JOURNAL > div, .part4contain > div > div > ul > li.MORE > div > a {
                    display: block;
                    width: 100%;
                    padding-top: 25%;
                    height: 75%;
                }

        .part4contain > div > div > ul .JOURNALBottom {
            height: 60%;
        }

        .part4contain > div > div > ul .MoreTop {
            height: 60%;
        }

        .part4contain > div > div > ul > li > img {
            display: block;
            width: 100%;
        }

        .part4contain > div > div > ul > li:hover {
            transform: scale(1.02, 1.02);
            -webkit-transform: scale(1.02, 1.02);
        }

.footer > img {
    width: 30%;
    display: block;
    margin: 50px auto;
}

.more img {
    transition: .5s all;
    -webkit-transition: .5s all;
}

.more:hover.more img {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
}

.product-more {
    text-align: center;
    display: block;
}
