body{
	min-width: 1000px;
	overflow-x:auto ;
}
.auditSuccess,.auditIng,.auditFail{
	/*display: none;*/
	width: 60%;
	height: 200px;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	right: 0;
	background: rgba(0,0,0,.5);
}
.auditSuccess img,.auditIng img,.auditFail img{
	width: 60px;
	margin: 50px;
	margin-bottom: 20px;
}
.auditSuccess .Text,.auditIng .Text,.auditFail .Text{
	color: #FFF;
	margin-left: 50px;
}
.auditSuccess .IntoIndex,.auditFail .IntoIndex{
	position: absolute;
	bottom: -50px;
	border: 0px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
	border-radius: 3px;
	left: 30px;
	padding: 3px 12px;
	color: #FFF;
	background: #82878b;
}



/*加盟商首页*/
.FranchiseeIndex{
	position: absolute;
	top: 13%;
	left: 200px;
	height: 80%;
	min-width: 130vh;
}
.left-franchisee-info{
	float: left;
	height: 75vh;
	width: 40vh;
	background: rgba(0,0,0,.2);
    position: relative;
}
.left-franchisee-info .info{
	color: #FFF;
	margin: 15px;
	text-align: center;
	line-height: 30px;
}
.right-franchisee-image{
	float: right;
	width: 90vh;
	height: 100%;
	padding-left: 10vh;
	overflow: hidden;
}
.right-franchisee-image .franchisee-image{
	width: 40vh;
	height: 40vh;
	float: left;
	padding-bottom: 5vh;
	padding-right: 5vh;
	overflow: hidden;
}
.right-franchisee-image .franchisee-image img{
	width: 100%;
}
.left-franchisee-info .edit{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 15px; 
	border: 0px;
	background: #6f7071;
	color: #FFF;
	
}
.left-franchisee-info .edit:active,
.left-franchisee-info .edit:visited,
.left-franchisee-info .edit:focus{
	outline: none;
}
