<!--<link rel="stylesheet" href="/Content/Styles/Layout/JoinUs/joinus.css" />-->
<style>
	.info-menu{
		display: none;
	}
	.rt_content1{
	width: 100%;
    height: 80%;
    min-width: 1000px;
    position: absolute;
    top: 10%;
    left: 0;
    padding-left: 300px;
    padding-right: 150px;
}
.FranchiseContract{
	color: #fefefe;
	background: rgba(0,0,0,.3);
	height: 50%;
	padding: 20px;

}
.FranchiseContract .FranchiseContractText{
	border: 2px solid #a09c9a;
	width: 100%;
	height: 100%;
	line-height: 35px;
	position: relative;
	overflow: hidden;
}
.FranchiseContract .FranchiseContractText .ContractText{
	font-size: 16px;
	padding: 20px;
}
.FranchiseContract .FranchiseContractText .ContractText h4{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.showFranchisee{
	margin:20px 0 ;
}
.showFranchiseeBox{
	width: 16%;
	margin-right:5%;
	float: left;
	position: relative;
}
.showFranchiseeBox:last-child{
	margin-right: 0;
}
.showFranchiseeBox .showFranchiseeImage{
	width: 100%;
	margin: 0 auto;
	display: block;
}
.showFranchiseeBox .Franchiseetips{
	color: #FFF;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.showFranchiseeBox .Franchiseetips>div{
	width: 80%;
	position: absolute;
	bottom: 10px;
	left: 10%;
	padding:2px 5px;
	border: 1px solid #FFF;
	text-align: center;
	border-radius: 3px;
}
.Agree{
    position: absolute;
    bottom: 0;
    right: 150px;
}
.AgreeButton{
	float: right;
	background: #919293;
	color: #FFF;
	border:0px ;
	padding: 10px 30px;
}
</style>


<div class="rt_content1">
    <div class="FranchiseContract">
        <div class="FranchiseContractText">

            <div class="ContractText">
                <h4>加盟合约</h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                零时尚面向城市中产女性，为追求自由的独立女性提供品味生活所选。她们普遍年龄在28岁以上；经济独立，有一定的文化素养，
                注重生活品质；个性成熟，理性。零时尚产品由买手品牌现货和“轻定制”产品组成，让用户以最有性价比的方式享受轻奢品质，
                追求最具理性的中产生活。产品限量发售快速上新，注重面料、品质和品味，或简约大气，或低调奢华，或自然随性，时尚又兼顾
                实穿，独特却并不怪异。吊牌价位：秋冬800-3000（ 不包括皮草 ）春夏500-1500零时尚面向城市中产女性，为追求自由的独立女
                性提供品味生活所选。她们普遍年龄在28岁以上；经济独立，有一定的文化素养，注重生活品质；个性成熟，理性。零时尚产品由
                买手品牌现货和“轻定制”产品组成，让用户以最有性价比的方式享受轻奢品质，追求最具理性的中产生活。产品限量发售快速上
                新，注重面料、品质和品味，或简约大气，或低调奢华，或自然随性，时尚又兼顾实穿，独特却并不怪异。吊牌价位：秋冬800-
                3000（ 不包括皮草 ）春夏500-1500零时尚面向城市中产女性，为追求自由的独立女性提供品味生活所选。她们普遍年龄在28岁以
                上；经济独立，有一定的文化素养，注重生活品质；个性成熟，理性。零时尚产品由买手品牌现货和“轻定制”产品组成，让用户
                以最有性价比的方式享受轻奢品质，追求最具理性的中产生活。产品限量发售快速上新，注重面料、品质和品味，或简约大气，或
                低调奢华，或自然随性，时尚又兼顾实穿，独特却并不怪异。吊牌价位：秋冬800-3000（ 不包括皮草 ）春夏500-1500
            </div>
        </div>
    </div>
    <div class="clearfix showFranchisee">
        <div class="showFranchiseeBox">
            <img class="showFranchiseeImage" src="/Content/Images/JoinUs/Franchisee1.jpg" />
            <div class="Franchiseetips"><div>加盟商</div></div>
        </div>
        <div class="showFranchiseeBox">
            <img class="showFranchiseeImage" src="/Content/Images/JoinUs/Franchisee2.jpg" />
            <div class="Franchiseetips"><div>加盟商</div></div>
        </div>
        <div class="showFranchiseeBox">
            <img class="showFranchiseeImage" src="/Content/Images/JoinUs/Franchisee3.jpg" />
            <div class="Franchiseetips"><div>加盟商</div></div>
        </div>
        <div class="showFranchiseeBox">
            <img class="showFranchiseeImage" src="/Content/Images/JoinUs/Franchisee4.jpg" />
            <div class="Franchiseetips"><div>加盟商</div></div>
        </div>
        <div class="showFranchiseeBox">
            <img class="showFranchiseeImage" src="/Content/Images/JoinUs/Franchisee5.jpg" />
            <div class="Franchiseetips"><div>加盟商</div></div>
        </div>
    </div>
    <div class="clearfix Agree">
        <button class="AgreeButton">同意</button>
    </div>
</div>
<script>
    $(function () {
        //初始化滚动条
        $('.FranchiseContractText').panel({
            iWheelStep: 20
        });

        $('.showFranchiseeBox').hover(function () {
            $(this).find('.Franchiseetips').fadeIn()
        }, function () {
            $(this).find('.Franchiseetips').fadeOut()
        });
        $(".AgreeButton").click(function () {
            $.fashion.web.load({ url: "JoinUs" });
        });

    });
</script>