<style>
    body {
        min-width: 1000px;
        overflow-x: auto;
    }

    .auditSuccess, .auditIng, .auditFail {
        /*display: none;*/
        width: 750px;
        height: 200px;
        position: fixed;
        top: 50%;
        margin-top: -100px;
        right: 0;
        background: rgba(0,0,0,.5);
    }
	.info-menu{
		display: none;
	}
    .auditSuccess img, .auditIng img, .auditFail img {
        width: 60px;
        margin: 50px;
        margin-bottom: 20px;
    }

    .auditSuccess .Text, .auditIng .Text, .auditFail .Text {
        color: #FFF;
        margin-left: 50px;
        margin-bottom: 10px;
    }
	.auditFail .CheckNotes {
	    width: 75%;
	    position: absolute;
	    top: 45px;
	    left: 200px;
	    color: #FFF;
	}
    .auditSuccess .IntoIndex, .auditFail .IntoIndex {
        position: absolute;
        bottom: -50px;
        border: 0px;
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        border-radius: 3px;
        left: 30px;
        padding: 3px 12px;
        color: #FFF;
        background: #82878b;
    }
</style>
<div class="rt_content1">
    <div class="AuditStatus">
        @switch ((int)(ViewBag.CheckStatus ?? 0))
        {
            case 0:
                {
                    <div class="auditIng">
                        <img src="/Content/Images/JoinUs/auditIng.png" />
                        <div class="Text">加盟资料审核中...</div>
                    </div>
                }
                break;
            case 1:
                {
                    <div class="auditSuccess">
                        <img src="/Content/Images/JoinUs/auditSuccess.png" />
                        <div class="Text">审核通过</div>
                        <button class="IntoIndex" >点击进入</button>
                    </div>
                }
                break;
            case 2:
                {
                    <div class="auditFail">
                        <img src="/Content/Images/JoinUs/auditFail.png" />
                        <div class="Text">审核未通过</div>
                        <div class="CheckNotes">原因：@ViewBag.CheckNotes</div>
                        <button class="IntoIndex" >返回申请</button>
                    </div>
                }
                break;
            default:
                break;
        }
    </div>
</div>
<script>
	$('.IntoIndex').click(function(){
		$.ajax({
			url:'AuditStatusRead',
			type:'post',
			success:function(){},
			error:function(){}
		})
		$.fashion.web.load({url:'index'})
	})
</script>