<style>
	/*加盟商首页*/
	img[src='']{
		display: none;
	}
	.info-menu{
		display: none;
	}
	.FranchiseeIndex{
		position: absolute;
		top: 13%;
		left: 200px;
		height: 80%;
		min-width: 130vh;
	}
	.left-franchisee-info{
		float: left;
		height: 75vh;
		width: 40vh;
		background: rgba(0,0,0,.2);
	    position: relative;
	}
	.left-franchisee-info .info{
		color: #FFF;
		margin: 20px;
		text-align: center;
		line-height: 30px;
	}
	.right-franchisee-image{
		float: right;
		width: 90vh;
		height: 100%;
		padding-left: 10vh;
		overflow: hidden;
	}
	.right-franchisee-image .franchisee-image{
		width: 35vh;
		height: 35vh;
		float: left;
		margin-bottom: 5vh;
		margin-right: 5vh;
		overflow: hidden;
	}
	.right-franchisee-image .franchisee-image img{
		width: 100%;
	}
	.left-franchisee-info .edit{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 5px 15px; 
		border: 0px;
		background: #6f7071;
		color: #FFF;
		
	}
	.left-franchisee-info .edit:active,
	.left-franchisee-info .edit:visited,
	.left-franchisee-info .edit:focus{
		outline: none;
	}

</style>
<div class="rt_content1" >
	<div class="FranchiseeIndex">
		<div class="left-franchisee-info">
			<div class="info">
				<div>昵称</div>
				<div class="MemberName"></div>
			</div>
			<div class="info">
				<div>真实姓名</div>
				<div class="RealName"></div>
			</div>
			<div class="info">
				<div>手机号</div>
				<div class="MobilePhone"></div>
			</div>
			<div class="info">
				<div>邮箱</div>
				<div class="Email"></div>
			</div>
			<div class="info">
				<div>店铺地址</div>
				<div><span id="s2id_loc_province"></span><span id="s2id_loc_city"></span><span class="Address"></span></div>
			</div>
			<div class="info">
				<div>邮编</div>
				<div class="ZipCode"></div>
			</div>
			<!--<button class="edit">
				编辑
			</button>-->
		</div>
		<div class="right-franchisee-image">
			<div class="franchisee-image">
				<img src="" />
			</div>
			<div class="franchisee-image">
				<img src="" />
			</div>
			<div class="franchisee-image">
				<img src="" />
			</div>
			<div class="franchisee-image">
				<img src="" />
			</div>
		</div>
	</div>
</div>
<script>
	$.ajax({
		type: 'post',
		url: 'GetJoinUsInfo',
		success: function(data) {
			//提交过资料渲染资料
			if(data.ResultType == 3) {
				var Data = data.Data;
				if(!Data.Email) Data.Email = '未填写'
				$('.MemberName').html(Data.MemberName)
				$('.RealName').html(Data.RealName)
				$('.MobilePhone').html(Data.MobilePhone)
				$('.Email').html(Data.Email)
				$('#s2id_loc_province').text(Data.Province);
				$('#s2id_loc_city').text(Data.City);
				$('.ZipCode').text( Data.ZipCode );
				$('.Address').text( Data.Address );
				$('.franchisee-image').eq(0).find('img').attr( 'src' , Data.LicencePhoto );
				$('.franchisee-image').eq(1).find('img').attr( 'src' , Data.StorePhoto );
				//$('.franchisee-image').eq(2).find('img').attr( 'src' , Data.IDCard_Front );
				//$('.franchisee-image').eq(3).find('img').attr( 'src' , Data.IDCard_Reverse );
			}
		},
		error: function() {
			layer.msg('网络异常，请稍后再试！', {
				'icon': 2
			})
		}
	})
</script>