<script src="/Content/Scripts/city/citySelect.js"></script>
<script src="/Content/Scripts/city/area.js"></script>
<script src="/Scripts/readImage/readImage.js"></script>
@Html.CssBlock("/Content/Scripts/city/citySelect.css")
<style>
	.info-menu{
		display: none;
	}
	.rt_content1 {
		width: 100%;
		height: 80%;
		min-width: 1000px;
		position: absolute;
		top: 10%;
		left: 0;
		padding-left: 300px;
		padding-right: 150px;
	}
	
	.FranchiseContract {
		color: #fefefe;
		background: rgba(0, 0, 0, .3);
		height: 300px;
		padding: 20px;
	}
	
	.FranchiseContract .FranchiseContractText {
		border: 2px solid #a09c9a;
		width: 100%;
		height: 100%;
		line-height: 35px;
		position: relative;
		overflow: hidden;
	}
	
	.FranchiseContract .FranchiseContractText .ContractText {
		font-size: 16px;
		padding: 20px;
	}
	
	.FranchiseContract .FranchiseContractText .ContractText h4 {
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.showFranchisee {
		margin: 20px 0;
	}
	
	.showFranchiseeBox {
		width: 16%;
		margin-right: 5%;
		float: left;
		position: relative;
	}
	
	.showFranchiseeBox:last-child {
		margin-right: 0;
	}
	
	.showFranchiseeBox .showFranchiseeImage {
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	
	.showFranchiseeBox .Franchiseetips {
		color: #FFF;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .5);
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
	
	.showFranchiseeBox .Franchiseetips>div {
		width: 80%;
		position: absolute;
		bottom: 10px;
		left: 10%;
		padding: 2px 5px;
		border: 1px solid #FFF;
		text-align: center;
		border-radius: 3px;
	}
	
	.Agree {
		margin: 40px 0;
	}
	
	.AgreeButton {
		float: right;
		background: #919293;
		color: #FFF;
		border: 0px;
		padding: 10px 30px;
	}
	/*加盟申请*/
	
	.AffiliateApplication {
		color: #FFF;
		height: 100%;
	}
	
	.ApplicationContent {
		margin-top: 30px;
		height: 80%;
		overflow: hidden;
		position: relative;
	}
	
	.ApplicationContent>div {
		width: 100%;
	}
	
	.AffiliateApplication h4 {
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.ApplicationContent .floatBox {
		float: left;
		width: 50%;
	}
	
	.a-information {
		margin-bottom: 30px;
	}
	
	.a-information>div {
		margin-bottom: 15px;
	}
	
	.a-information input,
	.a-information textarea {
		background: transparent;
		border-radius: 5px;
		border: 1px solid #a39b99;
	}
	
	.a-information input:focus,
	.a-information textarea:focus {
		outline: none;
	}
	
	.a-information input {
		height: 35px;
		padding: 5px;
		width: 290px;
	}
	
	.a-information textarea {
		resize: none;
		width: 290px;
		height: 100px;
		padding: 10px;
	}
	
	.a-information .select2-container {
		float: left;
	}
	
	.a-information .select2-container a {
		color: #FFF;
	}
	
	.select2-results li {
		color: #FFF;
	}
	
	.leftBox .floatBox:nth-child(1) {
		width: 40%;
	}
	
	.leftBox .floatBox:nth-child(2) {
		width: 60%;
	}
	
	.image1,
	.image2,
	.image3 {
		position: relative;
		width: 300px;
	}
	
	.image3 {
		width: 400px;
	}
	/*图片上传*/
	
	.addImage {
		float: left;
		width: 100px;
		height: 100px;
		background: rgba(255, 255, 255, .1);
		cursor: pointer;
		border: 2px solid #a39b99;
		border-radius: 5px;
		margin: 5px;
	}
	
	.addImage img {
		width: 40px;
		display: block;
		margin: 30px auto;
	}
	
	.ImageDiv {
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		float: left;
		border: 2px solid #a39b99;
		border-radius: 5px;
		margin: 5px;
	}
	
	.readImage {
		width: 100%;
		height: 100%;
	}
	
	.cutImage {
		position: absolute;
		background: rgba(0, 0, 0, .2);
		cursor: pointer;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	.cutImage img {
		width: 40px;
		display: block;
		margin: 30px auto;
	}
	
	.imageProgress {
		width: 98%;
		height: 10px;
		position: absolute;
		left: 1%;
		bottom: 0px;
		background: rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		-webkit-transition: opacity 0.3s ease-in;
		transition: opacity 0.3s ease-in;
		-webkit-transition-delay: .3s;
		transition-delay: .3s;
	}
	
	.imageProgress span {
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 0;
		border-radius: 5px;
		-webkit-transition: width .35s ease-in-out;
		-moz-transition: width .35s ease-in-out;
		-ms-transition: width .35s ease-in-out;
		-o-transition: width .35s ease-in-out;
		transition: width .35s ease-in-out;
	}
	
	.uploadImagePage {
		float: left;
		color: #FFF;
	}
	/*滚动条*/
	
	.ApplicationContent .zUIpanelScrollBox,
	.ApplicationContent .zUIpanelScrollBar {
		width: 2px;
		top: 4px;
		right: 1px;
		border-radius: 20px;
		z-index: 9999;
		width: 10px;
	}
	
	.ApplicationContent .zUIpanelScrollBox {
		background: black;
		opacity: 0.1;
		filter: alpha(opacity=10);
	}
	
	.ApplicationContent .zUIpanelScrollBar {
		background: rgba(0, 0, 0, .5);
		filter: alpha(opacity=80);
	}
	
	button.joinUS {
		position: absolute;
		bottom: -30px;
		margin-left: -50px;
		left: 50%;
		width: 100px;
		line-height: 40px;
		background: #8e9093;
		border: 0px;
		border-radius: 5px;
	}
	
	button:focus {
		outline: none;
	}
	
	@@media only screen and (max-width: 1200px) {
		.ApplicationContent .floatBox {
			width: 100%;
		}
	}
	
	@@media only screen and (min-width: 1201px) {
		.ApplicationContent .zUIpanelScrollBox, .ApplicationContent .zUIpanelScrollBar {
			width: 0px;
		}
	}
</style>
<div class="rt_content1">
	<div class="AffiliateApplication">
		<h4>加盟申请</h4>
		<div class="ApplicationContent">
			<div class="clearfix">
				<div class="clearfix floatBox leftBox">
					<div class="floatBox">
						<div class="a-information">
							<div>昵称</div>
							<div class="MemberName"></div>
						</div>
						<div class="a-information">
							<div>真实姓名</div>
							<div class="RealName"></div>
						</div>
						<div class="a-information">
							<div>手机号</div>
							<div class="MobilePhone"></div>
						</div>
						<div class="a-information">
							<div>邮箱</div>
							<div class="Email"></div>
						</div>
					</div>
					<div class="floatBox">
						<div class="a-information">
							<div>收货地址</div>
							<div class="clearfix">
								<select id="loc_province" style="width:140px;">
								</select>
								<select id="loc_city" style="width:140px; margin-left: 10px">
								</select>
								<!--<select id="loc_town" style="width:90px;margin-left: 10px">
								</select>-->
							</div>
						</div>
						<div class="a-information">
							<div>邮编</div>
							<div><input class="ZipCode" type="text" /></div>
						</div>
						<div class="a-information">
							<div>详细地址</div>
							<div><textarea class="Address"></textarea></div>
						</div>

					</div>
				</div>
				<div class="floatBox rightBox">
					<div class="a-information">
						<div>经营许可证</div>
						<div class="clearfix image1"></div>
					</div>
					<div class="a-information">
						<div>店铺照片</div>
						<div class="clearfix image2"></div>
					</div>
					<div class="a-information">
						<div>身份证正反面( 1 . 正面，2 . 反面)</div>
						<div class="clearfix image3"></div>
					</div>
				</div>
			</div>
		</div>
		<button class="joinUS" onclick="Apply(this)">申请</button>
	</div>
</div>
<script>
	$(function() {
		$(".rt_content1 .ApplicationContent").panel({
			iWheelStep: 20
		});

//-------------------------------------------------------------------- 获取用户信息
		$.ajax({
			type: "post",
			url: "/Members/Member/GetMemberInfo",
			dataType: 'json',
			data: {},
			success: function(data) {
				if(data.ResultType == 3) {
					var Data = data.Data;
					if(!Data.Email) Data.Email = '未填写'
					$('.MemberName').html(Data.MemberName)
					$('.RealName').html(Data.RealName)
					$('.MobilePhone').html(Data.MobilePhone)
					$('.Email').html(Data.Email)
				}
			}
		});
//-------------------------------------------------------------------获取加盟商信息
		function cutHost(url){
			var host = 'http://www.0-fashion.com';
			var hosts = 'https://www.0-fashion.com';
			if( url.indexOf(host) > -1 ){
				url = url.substring(host.length ,url.length )
			}else if( url.indexOf(hosts) > -1 ){
				url = url.substring(hosts.length ,url.length )
			}
			return url;
		}
		$.ajax({
			type: 'post',
			url: 'GetJoinUsInfo',
			success: function(data) {
				//提交过资料渲染资料
				if(data.ResultType == 3) {
					var Data = data.Data;
					if(!Data.Email) Data.Email = '未填写'
					$('.MemberName').html(Data.MemberName)
					$('.RealName').html(Data.RealName)
					$('.MobilePhone').html(Data.MobilePhone)
					$('.Email').html(Data.Email)
					$('#s2id_loc_province .select2-chosen').text(Data.Province);
					$('#s2id_loc_city .select2-chosen').text(Data.City);
					$('.ZipCode').val( Data.ZipCode );
					$('.Address').val( Data.Address );
					var img1 = Image1.loadImage( Data.LicencePhoto );
					var img2 = Image2.loadImage( Data.StorePhoto )
					var img3 = Image3.loadImage( Data.IDCard_Front )
					var img4 = Image3.loadImage( Data.IDCard_Reverse )
					
					$(img1).attr('data-src', cutHost($(img1).attr('src')))
					$(img2).attr('data-src', cutHost($(img2).attr('src')))
					$(img3).attr('data-src', cutHost($(img3).attr('src')))
					$(img4).attr('data-src', cutHost($(img4).attr('src')))
					
				}
			},
			error: function() {
				layer.msg('网络异常，请稍后再试！', {
					'icon': 2
				})
			}
		})
//-----------------------------------------------------------------------图片上传
		//实例化上传照片	
		var Image1 = new readImage({
			"maxNum": 1,
			"Container": ".image1",
			"readImageCallBack": uploadImage,
		})
		Image1.init()
		var Image2 = new readImage({
			"maxNum": 1,
			"Container": ".image2",
			"readImageCallBack": uploadImage
		})
		Image2.init()
		var Image3 = new readImage({
			"Multiselect": true,
			"maxNum": 2,
			"Container": ".image3",
			"readImageCallBack": uploadImage
		})
		Image3.init();

		function uploadImage(file, thisImage, _this) {
			//thisImage当前图片对象
			var host = 'https://www.0-fashion.com/';
			//var host = 'http://localhost:5681'
			var actionUrl = host + "/Upload/Multiple";
			var formData = new FormData();
			formData.append('SaveDir', 'PartnerManageImg');
			formData.append("Files", file);
			//		console.log(file)
			$.ajax({
				type: "POST", //提交类型
				dataType: "json", //返回结果格式
				url: actionUrl, //请求地址
				data: formData,
				processData: false, // 告诉jQuery不要去处理发送的数据
				contentType: false, // 告诉jQuery不要去设置Content-Type请求头
				success: function(data) {
					if(data.files.length) {
						var Image = data.files[0];
						$(thisImage).attr("data-src", Image);
						$(thisImage).attr("src", host + Image);
						//					layer.msg(data.Message, {
						//						'icon': 1
						//					})
					} else if(data.errors.length) {
						layer.msg(data.errors[0], {
							'icon': 2
						})
					}
				},
				error: function(xhr, type, errorThrown) {
					layer.msg('网络异常，请稍后再试！', {
						'icon': 2
					})
				}
			});
		}

	})

	//-------------------------------------------------------------------- 提交申请
	var LicencePhoto, StorePhoto, IDCard_Front, IDCard_Reverse, Province, City, ZipCode, Address;

	function Apply(sender) {
		var dto = ApplyCheckData();
		if(!dto) return;
		var requestUrl = 'JoinUs';
		$.ajax({
			url: requestUrl,
			lockButton: sender,
			type: 'post',
			data: {
				dto: dto
			},
			success: function(data) {
				if(data.ResultType == 3) {
					$.fashion.web.load({
						url: "AuditStatus"
					});
				}else{
					layer.msg(data.Message,{'icon':2})
				}
				
			},
			error: function(xhr, type, errorThrown) {
				layer.msg('网络异常，请稍后再试！', {
					'icon': 2
				})
			}
		})
	}

	function ApplyCheckData() {

		LicencePhoto = $('.image1 .readImage').attr('data-src');
		StorePhoto = $('.image2 .readImage').attr('data-src');
		IDCard_Front = $('.image3 .readImage').eq(0).attr('data-src');
		IDCard_Reverse = $('.image3 .readImage').eq(1).attr('data-src');

		Province = $('#s2id_loc_province .select2-chosen').text().trim();
		City = $('#s2id_loc_city .select2-chosen').text().trim();
		ZipCode = $('.ZipCode').val();
		Address = $('.Address').val();

		if(Province == '省份' || !Province) {
			layer.msg('请填写正确省份', {
				'icon': 2
			})
			return false;
		} else if(City == '城市' || !City) {
			layer.msg('请填写正确城市', {
				'icon': 2
			})
			return false;
		} else if(!ZipCode) {
			layer.msg('请填写邮编', {
				'icon': 2
			})
			return false;
		} else if(!Address) {
			layer.msg('请填写详细地址', {
				'icon': 2
			})
			return false;
		} else if(!LicencePhoto || !StorePhoto || !IDCard_Front || !IDCard_Reverse) {
			layer.msg('请上传正确图片', {
				'icon': 2
			})
			return false;
		} else {
			var dto = {
				"LicencePhoto": LicencePhoto,
				"StorePhoto": StorePhoto,
				"IDCard_Front": IDCard_Front,
				"IDCard_Reverse": IDCard_Reverse,
				"Province": Province,
				"City": City,
				"ZipCode": ZipCode,
				"Address": Address
			}
			return dto
		}
	}
</script>