
<div class="row">
    <div class="panel panel-search">
        <div class="panel-heading clearfix">
            <div class="col-md-4 panel-title">
                <h5><i class="fa fa-search"></i> <span>查询条件</span></h5>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-search">
                <div class="col-md-10">
                    <div class="form-group no-margin-hr">
                        <label class="control-label col-md-2">名称</label>
                        <div class="col-md-5">
                            @Html.TextBox("ImageName", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right clearfix ">
            <div class="pull-left">
                <button id="Search" title="按条件搜索数据" type="button" class="btn btn-primary btn-padding-right"><i class="fa fa-search"></i> <span>搜索</span></button>
                <button id="Clear" title="重置搜索栏的各项输入" type="button" class="btn btn-default btn-padding-right"><i class="fa fa-refresh"></i> <span>清除</span></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-list">
        <div class="panel-heading clearfix">
            <div class="col-md-4 panel-title">
                <h5><i class="fa fa-list "></i> <span>数据列表</span></h5>
            </div>
        </div>
        <table class="table table-list table-hover valign-middle" width="100%">
            <thead>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //搜索
        $("#Search").on("click", function () {
            $.whiskey.datatable.reset(false);
        });
        //清楚搜索
        $("#Clear").on("click", function () {
            $('.bootbox #ImageName').val("");
        });

        $.whiskey.datatable.instance = $(".table-list").dataTable({
            "bScrollCollapse": false,
            "sAjaxSource": "@Url.Action("List")",
            "fnServerParams": function (aoData) {
                var conditions = new $.whiskey.filter.group();
                conditions.Rules.push(new $.whiskey.filter.rule("IsEnabled", "true", "equal"));
                conditions.Rules.push(new $.whiskey.filter.rule("IsDeleted", "false", "equal"));
                var name = $('.bootbox #ImageName').val();
                conditions.Rules.push(new $.whiskey.filter.rule("ImageName", name, "contains"));
                aoData.push({ name: "conditions", value: JSON.stringify(conditions) });
            },
            "aoColumns": [{
                "bVisible": false,
                "bSearchable": false,
                "sName": "Id",
                "mData": "Id"
            },
            {
                "sTitle": $.whiskey.datatable.tplTitleCheckbox(),
                "sName": "Id",
                "bSortable": false,
                "bSearchable": false,
                "mData": function (data) {
                    return $.whiskey.datatable.tplListCheckbox(data.Id);
                }
            },
			{
			    "sTitle": "编号",
			    "bSortable": false,
			    "sName": "RowNumber",
			    "mData": function (data) {
			        var index = data.iDisplayIndex + 1;
			        return '' + index + '';
			    }
			},
            //{
            //    "sTitle": "名称",
            //    "bSortable": false,
            //    "sName": "ImageName",
            //    "mData": function (data) {
            //        return data.ImageName;
            //    },
            //},
            {
                "sTitle": "图片",
                "bSortable": false,
                "sName": "ImagePath",
                "mData": function (data) {
                    return '<div style="display:block;width:80px;height:80px;overflow:hidden;border:1px solid #eaeaea;margin:0 auto 0 auto;"><img   style="margin:2px;max-width:74px;cursor:pointer "  src="' + data.ImagePath + '"    /></div>';
                },
            },
            //{
            //    "sTitle": "路径",
            //    "bSortable": false,
            //    "sName": "ImagePath",
            //    "mData": function (data) {
            //        return data.ImagePath;
            //    },
            //},
            {
                 "sTitle": "更新时间",
                 "bSortable": false,
                 "sName": "UpdatedTime",
                 "mData": function (data) {
                     return $.whiskey.tools.dateFormat(data.UpdatedTime);
                 }
            },
            {
                "sTitle": "选择",
                "bSortable": false,
                //"sName": "StoreType",
                "mData": function (data) {
                    return '<button  title="点击选择会将路径显示到图片路径的文本框内" type="button" class="btn btn-success btn-padding-right"  data-name="' + data.ImageName + '" data-path="'+data.ImagePath+'" onclick="SetImage(this)"><i class="fa fa-send"></i> <span>选择</span></button>';
                },
            },
            ]

        });

    });

    //选择店铺
    function SetImage(option) {
        var path = $(option).attr("data-path");
        var name = $(option).attr("data-name");
        $("#ImageName").val(name);
        $("#ImagePath").val(path);
        $("#image").attr("src", path);
        $(".bootbox").modal('hide');
    }
</script>


