* {
	margin: 0;
	padding: 0;
	color: rgba(255,255,255,.9);
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	line-height: 0
}

.clearfix:after {
	clear: both;
	font-size: 0;
	height: 0;
	display: block;
	visibility: hidden;
	content: " ";
	line-height: 0
}

.clearfix {
	zoom: 1
}
[v-cloak]{
	display: none;
}
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}
input:focus{outline: none;
}
body {

	position:relative;
	font-family: "microsoft yahei", sans-serif;
	min-width: 1000px;
	overflow-x: auto;
}
.menuLine{
	display: block;
	width: 64px;
	border-top: 3px solid #e5c593;
	position: absolute;
	top: 0;
	left: -120px;
	transition: .35s all;
	webkit-transition: .35s all;
}
.blur-effect{
	filter: blur(6px);
	-webkit-filter: blur(6px);
}
/*遮罩层*/
.fadeInMask{background: rgba(0,0,0,.3);width:100%;height: 100%;z-index: 9998;visibility: hidden;position: absolute;top:0;}


.userInfos{
	z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: rgba(0,0,0,.2);
    text-align: center;
}
.wrapperbg{width: 100%;height: 100%;z-index: -1;}

.userInfos .userPhotoBg{
	    position: absolute;
    left: 50%;
    width: 8rem;
    height: 8rem;
    margin: 3rem auto;
    margin-left: -4rem;
    -webkit-filter: opacity(.1);
    filter: opacity(.1);
}
.userInfos .userPhoto{
    width: 7rem;
    height: 7rem;
    margin: 3.5rem auto;
    max-width: 7rem;
    border-radius: 0%;
  
}
.userInfos .replaceUserPhoto{
	cursor: pointer;
    position: absolute;
    top: 14%;
    right: 26%;
    width: 22px;
    height: 30px;
}
.userInfos  .menu li {
	width: 100%;
	height:4rem;
	line-height: 4rem;
    font-size: 1.5rem;
    cursor: pointer;
	
}
.userInfos .menu  li:hover{
	background: rgba(0,0,0,0.3);
}

/*contentWarrper*/
.rt_content1{
	width:100%;
    height:70%;
  /*  overflow: hidden;*/
   /* background: rgba(255,255,255,.4);*/
    position: fixed;
    top: 18%;
    left:0;
    padding-left: 200px;
    padding-right: 250px;
}
.logo_menu{
    position: absolute;
    top: 8%;
    left: 8%;
    width: 19%;
}
.logo_menu>img{width:100%}

.main_content{
	width: 100%;
	height: 100%;
	padding-left: 10px;
	display: none;
}
.information-content{
	display: block;
}

.contentScroll{
	width: 100%;
}
/*个人信息设置页面*/
 ::-webkit-scrollbar { width: 12px;height:10px}
 /* 滚动��? */
 ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);border-radius: 10px;}
 /* 滚动条滑��? */
 ::-webkit-scrollbar-thumb {border-radius: 10px; background: rgba(0,0,0,0.5);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,0.4);}
.zUIpanelScrollBox,.zUIpanelScrollBar{
            width:2px;
            top:4px;
            right:1px;
            border-radius:20px;
            z-index:9999;
            width: 0;
        }
 .zUIpanelScrollBox{
            background:black;opacity:0.1;
            filter:alpha(opacity=10);
            width: 0;
        }
.zUIpanelScrollBar{
	background: rgba(0,0,0,.5);
	filter:alpha(opacity=80);
    }
.admin_content{
	width: 100%;
}

.admin_detail {
	margin: 20px 0;
}
.admin_left{    
	height: 35px;
	width: 100px;
	float: left;
	color: rgba(255, 255, 255, .9);
	font-size: 1.5rem;
	line-height: 36px;
}
.admin_sex {
    float: left;
    margin-right: 30px;
}
.admin_sex label{
	display: inline-block;
	vertical-align: middle;
   font-weight: normal;
   margin-right: 10px;
   margin-bottom: 0px;
}
.admin_sex input{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
.admin_right {
    padding: 5px 10px;
	float: left;
	border: 1px solid #a39b99;
	color: #FFF;
	border-radius: 5px;
	background: transparent;
	height: 35px;
	font-size: 14px;
}

.adress {
	width: 100%;
	position: relative;
}

.adress_details {
	margin: 1rem 0;
}
.adressleft{
	height: 35px;
    width: 100px;
    float: left;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 36px;
}
.adressCheack{
margin-right: 14px;
	}

.adressright{
    width: 30%;
    float: left;
    color: #FFF;
    font-size: 1.7rem;
    line-height: 35px;;
}
#distpicker >div>.cityselect{
	color: rgba(255,255,255,.8);
    background-color: transparent;
    border: 2px solid #666261;
}
.adressDetails{
	width:400px;
	height: 35px;
    border: 2px solid #666261;
    background: transparent;
    border-radius: 5px;
    padding-left:4%;
    resize: none;
}
textarea.adressDetails{
	min-height: 100px;
}
textarea:focus {
    outline: none;
}
input[type="checkbox"].adressCheack {
	width: 18px;
	height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 0;
}
.consigneePostal,.consigneeName,.consigneePhone{
	width: 200px;
}
#saveAdress{
	position: absolute;
	right:17%;
	bottom:1rem;
	width:90px;
	height: 35px;
	background:rgb(188,138,115);
	text-align:center;
    line-height: 35px;
    border-radius: 5px;
    color:rgba(255,255,255,.4);
    letter-spacing: 3px;
    font-size:16px;
}
#saveAdress:hover{
 color:rgba(255,255,255,.9);
 cursor: pointer;
}
.ownadress{
	width: 90%;
	height: 200px;
	border:2px solid #666261;
}

/*other*/
  @media screen and (max-width:1366px) and (min-width:1280px){
  	
  	
  	
  }

.menu_main>li{
	height: 8vh;
	margin: 10px 0;
}
.menu_main>li>a{
	font-size: 16px;
	display: block;
	padding: 10px 0;
}
.menu_main>li a:hover{
	background: rgba(0,0,0,.2);
	/*border-bottom: 3px solid #888c8d;*/
}


.menuLogo{
	margin: 8vh auto;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: #e5c593;
}

.closeMenu,.openMenu{
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -20px;
	cursor: pointer;
	padding: 0 15px;
}

.closeMenu>img,.openMenu>img{
	height: 40px;
}
.closeUserInfos{
	position: fixed;
	top: 0;
	left: -55px;
	width: 50px;
	height: 100%;
	background: rgba(0,0,0,.2);
	cursor: pointer;
	z-index: 1000000;
}

.closeUserInfos .closeLogo{
	width: 12px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -6px;
}
.rt_content1>.contentbox{
	height: 100%;
	padding: 20px;
	padding-top: 100px;
	padding-right:100px ;
	background-color: rgba(0,0,0,.2);
}
.content{
	height: 100%;
	position: relative;
	overflow: hidden;
}
.contentbox{
	position: relative;
}
.content-menu{
    overflow: hidden;
    margin-top: -100px;
    margin-bottom: 20px;
    border-bottom: 2px solid #666261;
    position: relative;
}
.content-menu>.content-menu-title{
	float: left;
	padding:8px 20px;
	margin: 20px 0;
	cursor: pointer;
}
.content-menu .activeMenuTitle{
	background: rgba(130,134,145,.4);
	border-radius: 5px;
}
input[type=text],input[type=password]{
	width: 200px;
}
.tableList{
	display: table;
	width: 310px;
}
.tableRow{
	display: table-row;
}
.tableCell{
	display: table-cell;
	padding: 15px 10px;
}

.addressTable .table{
	margin-top: 30px;
	border-top: 1px solid #666261;
}
.addressTable .table thead tr th{
	font-weight: normal;
	border-bottom: 1px solid #666261;
}
.addressTable .form-control{
	background: rgba(0,0,0,.5);
	color: #FFF;
	border: 1px solid #666261;
	font-weight: normal;
}
.addressTable .table > thead > tr > th, 
.addressTable .table > tbody > tr > th,
.addressTable .table > tfoot > tr > th,
.addressTable .table > thead > tr > td,
.addressTable .table > tbody > tr > td,
.addressTable .table > tfoot > tr > td {
    border-top: 1px solid #666261;
}
.userPhotoBox{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	margin-top: -105px;
	right: 130px;
	z-index: 100000;
	border: 5px solid rgba(37,37,37,.4);
}
.userPhotoBox .userPhoto{
	border-radius: 50%;
	width: 100%;
}
.userPhotoEdit{
	display: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: 100;
}
.userPhotoEdit img{
	display: block;
	width: 30px;
	margin: 10px auto;
	margin-top: 60px;
}
.editPhotoText{
	text-align: center;
	
}
.editSaveBtn{
	display: none;
        float: left;
    padding: 8px 20px;
    margin: 20px 0;
    cursor: pointer;
    text-align: center;
    padding: 8px 20px;
    background: rgba(130,134,145,.4);
    border-radius: 5px;
}
.content-member{
    position: absolute;
    top: 33px;
    right: 0;
}
#empirical{
	position: absolute;
	top: 0;
	left: 0;
}
.editStore{
	width: 25px;
	cursor: pointer;
}
.rt_content1 .storeList{
	width: 700px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -350px;
	border-radius: 10px;
	padding: 20px 50px;
	z-index: 100000;
	padding-bottom: 100px;
	display: none;
}
.storeListBox{
	box-shadow: -2px 3px 10px #CCC;
}
.storeTitle{
	margin: 10px 0;
	color: #676767;
}
.storeListBox>.store-tr{
	height: 31px;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px dashed #B3B3B3;
}
.storeListBox>.store-tr:last-child{
	border-bottom: 1px solid #B3B3B3;
}
.storeListBox .store-head{
	background: #B3B3B3;
	color: #FFF;
}

.storeListBox .store-tr .store-td{
	float: left;
	width: 25%;
	color: #676767;
	text-align: center;
}
.storeListBox .store-head .store-td{
	color: #FFF;
}
.storeListBox .store-tr .store-td input[name="storeSelect"]{
	width: 18px;
	height: 18px;
}
.storeListFooter{
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.storeListFooter p{
	float: right;
	margin:0 10px;
	font-size: 12px;
	color: #676767;
}
.point{
	color: red;
}
#curentpage{
	color: #676767;
	font-weight: normal;
}
.editStoreButton{
	border: 0px;
	background: #b3b3b3;
	color: #FFF;
	float: right;
	padding: 5px 10px;
	font-size: 12px;
	margin-right: 50px;
	margin-top: -5px;
	border-radius: 5px;
	
}
.storePage{
    position: absolute;
    bottom: 20px;
    left: 0;
    color: #676767;
    width: 100%;
    text-align: center;
}
.totalCount{
	color: #676767;
	font-size: 12px;
}
.storePage span{
	color: #676767;
	margin: 0 20px;
	font-size: 12px;
}
.rt_content1 .storeList .swiper-button-prev{
	left: 150px;
	width: 30px;
	height: 20px;
	margin-top: -10px;
}
.rt_content1 .storeList .swiper-button-next{
	right: 150px;
	width: 30px;
	height: 20px;
	margin-top: -10px;
}
.close_store_btn{
	width: 30px;
	padding: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.close_store_btn img{
	width: 100%;
}
.clothAddCut{
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*裁剪弹窗*/
	img[src='']{
		display: none;
	}
	.parsetcroBox {
		width: 100%;
		height: 100%;
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		top: 0;
		left: 0;
		/*display: none;*/
		z-index: 99999999;
	}
	
	.cropperBox {
		width: 80%;
		max-width: 800px;
		height: 70%;
		border: 1px solid #EEEEEE;
		border-radius: 15px;
		margin: 6% auto;
		position: relative;
		background-color: #FFF;
		color: #000;
	}
	
	#preview {
		max-width: 50%;
		max-height: 100%;
	}
	
	.boxH4 {
		margin: 10px 0 10px 20px;
		position: relative;
	}
	
	.imgBoxBtn {
		width: 90px;
		height: 35px;
		border: 0;
		position: relative;
		display: inline-block;
		border-radius: 4px;
		line-height: 35px;
		text-align: center;
		background-color: #8d9093;
		vertical-align: middle;
		margin-left: 15px;
		color: #FFFFFF;
	}
	
	.file_upload {
		width: 90px;
		height: 35px;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.imgBox {
		width: 60%;
		height: 70%;
		margin: 30px 0 0 20px;
		display: inline-block;
		padding: 10px;
		text-align: center;
		background-color: #fcfcfc;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
	}
	
	.colb {
		float: right;
		margin-right: 20px;
		cursor: pointer;
		width: 25px;
		margin-top: 5px;
	}
	
	.bottomBox {
		width: 100%;
		height: 60px;
		position: absolute;
		bottom: 0;
		border-top: 1px solid #FFFFFF;
		padding: 10px 0;
	}
	
	
	.Determine {
		float: right;
		margin-right: 20px;
	}
	.xuanzhuan{
		float: left;
	}
	.imgBoxyulan {
		width: 30%;
		margin: 30px 0 0 20px;
		border: 1px solid #FFFFFF;
		display: inline-block;
		vertical-align: top;
	}
	
	#previewyulan {
		width: 100%;
	}
	.closeCropper{
		position: absolute;
		height: 30px;
		cursor: pointer;
		top: 15px;
		right:15px;
		z-index: 99999999;
	}
.totalCount .storeTotal{
	color: #676767;
}
.totaPage{
	font-weight: normal;
	color: #676767;
}