/*关闭按钮和动画*/

button:focus {
	outline: none;
}
.fadeInMask {
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
    z-index: 9998;
    visibility: hidden;
    position: fixed;
    top: 0;
}
.blur-effect{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.circle {
	width: 30px;
	height: 30px;
	background: transparent;
	border: 4px solid #FFF;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 12%;
	right: -1%;
	cursor: pointer;
	display: inline-block;
	margin: 10px 20px;
}

.rigisterClose {
	width: 50px;
	height: 50px;
	top: 3%;
	right: 0%;
    z-index:9999;
}

.circle:after,
.rigisterClose:after {
	width: 16px;
	height: 4px;
	background-color: #FFF;
	content: "";
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -2px;
	position: absolute;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/*@include transform-origin(100%,100%);*/
}

.circle:before,
.rigisterClose:before {
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -2px;
	width: 16px;
	height: 4px;
	background-color: #FFF;
	content: "";
	position: absolute;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	/*@include transform-origin(0%,0%);*/
}

.rigisterClose:after,
.rigisterClose:before {
	width: 28px;
	height: 6px;
	margin-left: -14px;
	margin-top: -3px;
}

.circle[data-animation="showShadow"] {
	-moz-box-shadow: 0px 0px 0px 0px #fff inset;
	-webkit-box-shadow: 0px 0px 0px 0px #fff inset;
	box-shadow: 0px 0px 0px 0px #fff inset;
	-moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	-o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	-webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	border: 0px solid white;
}

.circle[data-animation="showShadow"]:before,
.circle[data-animation="showShadow"]:after {
	-moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	-o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	-webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
	transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}

.circle[data-animation="showShadow"]:not(.showShadow):hover {
	-moz-box-shadow: 0px 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 0px 2px #fff inset;
}

.circle[data-animation="showShadow"]:not(.showShadow):hover:before {
	-moz-transform: scale(0.7) rotate(45deg);
	-ms-transform: scale(0.7) rotate(45deg);
	-webkit-transform: scale(0.7) rotate(45deg);
	transform: scale(0.7) rotate(45deg);
	-moz-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}

.circle[data-animation="showShadow"]:not(.showShadow):hover:after {
	-moz-transform: scale(0.7) rotate(-45deg);
	-ms-transform: scale(0.7) rotate(-45deg);
	-webkit-transform: scale(0.7) rotate(-45deg);
	transform: scale(0.7) rotate(-45deg);
	-moz-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	-webkit-transition-delay: 100ms;
	transition-delay: 100ms;
}

.circle.showShadow {
	-moz-transition: ease-out 300ms;
	-o-transition: ease-out 300ms;
	-webkit-transition: ease-out 300ms;
	transition: ease-out 300ms;
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}


/*登录框*/

.login_content {
	opacity: 0;
	position: relative;
	z-index: 9999;
	width: 580px;
	height: 370px;
	position: fixed;
	top: 0%;
	left: 50%;
	margin-left: -350px;
	display: none;
}
.bg_zhanghao{
	background-size:100% 100%;
	width: 100%;height: 100%;
	background-image: url(/Content/Images/Theme/zhanghao.png);
	
}
.bg_saoma{
	display: none;
	background-size:100% 100%;
	width: 100%;height: 100%;
	background-image: url(/Content/Images/Theme/saoma.png);
}
.usernametp {
	height: 40px;
	position: absolute;
	top: 27%;
	left: 26.3%;
	width: 54.5%;
}

.userpwdbt {
	height: 40px;
	position: absolute;
	top: 49%;
	left: 26.3%;
	width: 54.5%;
}

.usernametp img,
.userpwdbt img {
	position: absolute;
	left: 10px;
	top: 15px;
	width: 22px;
}

#usernames,
#pwd {
	padding: 10px 40px;
	font-family: "monotype corsiva";
	font-size: 16px;
	color: #FFF;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, .5);
	outline: none;
	background-color: #8e8880;
	border-radius: 5px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #8e8880 inset;
	color: #FFF !important;
}


.loginbt {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.loginbt .btncontent {
	position: absolute;
	left: 26%;
	top: -15%;
	display: inline-block;
	border-radius: 17px;
	display: inline-flex;
	width: 55.3%;
}

.loginbt .btncontent img {
	width: 100%;
	height: 100%;
}

.login_other {
	position: absolute;
	bottom: 30%;
	left: 27%;
}

.btncontent,
.login_other span {
	cursor: pointer;
}

.login_other span {
	color: #ccc
}

.login_other span:hover {
	color: #fff
}

.box-shadow-effect {
	box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, .2)
}


/*注册*/

.register_content {
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	z-index: 9998;
	position: absolute;
	top: 0;
	display: none;
	-webkit-box-shadow: 0 12px 50px rgba(255, 255, 255.7) inset;
	box-shadow: 0px 12px 50px rgba(255, 255, 255, .7) inset;
}

.logo img {
	margin: 3rem 6rem
}

.registerContent {
	text-align: center;
	min-width: 1333px;
}

.registerContent .registerTitel {
	font-size: 2.3rem;
	color: rgb(190, 165, 125);
	display: block;
}

.registerContent input {
	width: 20%;
	height: 60px;
	border: 1px solid rgba(190, 165, 125, .5);
	margin: 1.6rem auto;
	background: transparent;
	border-radius: 6px;
	display: block;
	padding-left: 32px;
	font-size: 18px;
	color: rgba(255, 255, 255, .8)
}

.verificationBox {
	width: 22%;
	height: 60px;
	margin: 1.6rem auto;
	background: transparent;
	border-radius: 6px;
	display: block;
	position: relative;
}

.verificationBox input {
	width: 47%;
	height: 60px;
	border: 1px solid rgba(190, 165, 125, .5);
	margin: 0;
	background: transparent;
	border-radius: 6px;
	display: inline-block;
	padding-left: 32px;
	font-size: 18px;
	color: rgba(255, 255, 255, .8);
	position: absolute;
	left: 0;
}

.verificationBox button {
	right: 0;
	border-radius: 7px;
	background: rgb(64, 57, 48);
	position: absolute;
	width: 40%;
	height: 62px;
	font-size: 18px;
	color: rgba(255, 255, 255, .8);
	border: 0;
	cursor: pointer;
}

.register_content .agreement {
	color: rgba(190, 165, 125, .3);
	text-align: left;
	width: 20%;
	margin: 0 auto;
	font-size: 16px;
}

.register_content .agreement a {
	cursor: pointer;
	text-decoration: underline;
	color: rgba(152, 144, 128, .8);
	font-size: 18px;
	display: inline-block;
}

#register_confirm {
	cursor: pointer;
	margin: 20px auto;
	width: 22%;
	height: 70px;
	border: 0;
	border-radius: 7px;
	background: rgba(64, 57, 48, .7);
	text-align: center;
	line-height: 70px;
	font-size: 1.5rem;
	letter-spacing: 1px;
	color: #e8d1ad;
}

#register_confirm:hover {
	background: rgba(64, 57, 48, .95);
}


/*其他*/

input::-webkit-input-placeholder {
	font-size: 20px;
	opacity: .7;
}

input:-moz-placeholder {
	font-size: 20px;
	opacity: .7;
}

input::-moz-placeholder {
	font-size: 20px;
	opacity: .7;
}

input:-ms-input-placeholder {
	font-size: 20px;
	opacity: .7;
}

.registerContent input::-webkit-input-placeholder {
	font-size: 20px;
	color: rgba(190, 165, 125, 1);
}

.registerContent input:-moz-placeholder {
	font-size: 20px;
	color: rgba(190, 165, 125, 1);
}

input::-moz-placeholder {
	font-size: 20px;
	color: rgba(190, 165, 125, 1);
}

input:-ms-input-placeholder {
	font-size: 20px;
	color: rgba(190, 165, 125, 1);
}

.header_cloth {
	width: 20%;
}

.logo img {
	margin: 2rem 3rem;
}

.registerContent .registerTitel {
	font-size: 1.5rem;
}

.registerContent input {
	width: 16%;
	height: 51px;
	margin: 1rem auto;
	font-size: 18px;
	color: rgba(255, 255, 255, .8);
}

.verificationBox {
	width: 16%;
	padding-left:32px;
	height: 50px;
	margin: 1rem auto;
}
@media screen and (min-width:1366px){

    .registerContent input,.verificationBox {
	margin: 2rem auto;
}

}
@media screen and (max-width:1366px){

    .registerContent input,.verificationBox {
	margin: 1rem auto;
}

}

.verificationBox input {
	width: 47%;
	height: 50px;
	margin: 0;
}

.verificationBox button {
	width: 36%;
	height: 51px;
	font-size: 15px;
}

.register_content .agreement {
	font-size: 13px;
}

#register_confirm {
	margin: 6px auto;
	width: 20%;
	height: 50px;
	line-height: 50px;
}


.loginView{
	display: none;
	
}
.triangle{
	cursor: pointer;
    border-top: 50px solid rgba(0,0,0,0);
    border-right: 50px solid rgba(0,0,0,0);
    border-left: 50px solid rgba(0,0,0,0);
    border-bottom: 50px solid rgba(0,0,0,0);
    position: absolute;
    right: 0;
    bottom: 0;
}
.qr_code{
	width: 150px;
    height: 150px;
    position: absolute;
    overflow: hidden;
    border: 6px solid #fff;
}
#QrCode{
	width: 100%;
}
.pos{
	position: absolute;
    left: 6%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    z-index: 3;
}
.scan_code{
	font-size: 18px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-left:3%;
}
