*{
	margin: 0;
	padding: 0;
}
body,html{
	overflow-y: hidden;
	font-family: "STHeiti Light","microsoft yahei";
	/*background: #21160f;*/
    height: 100%;
    width: 100%;
    background-image: url(/Content/Images/information/bg.png);
    background-size: cover;
    background-position: center;
}
li{
	list-style: none;
}

 ::-webkit-scrollbar { width: 12px;height:10px}
 ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);border-radius: 10px;}
 ::-webkit-scrollbar-thumb {border-radius: 10px; background: rgba(0,0,0,0.5);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,0.4);}

.userInfos{
	z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background: rgba(0,0,0,.2);
    text-align: center;
}
.wrapperbg{width: 100%;height: 100%;z-index: -1;}

.userInfos .userPhotoBg{
	    position: absolute;
    left: 50%;
    width: 8rem;
    height: 8rem;
    margin: 3rem auto;
    margin-left: -4rem;
    -webkit-filter: opacity(.1);
    filter: opacity(.1);
}
.userInfos .userPhoto{
    width: 7rem;
    height: 7rem;
    margin: 3.5rem auto;
    max-width: 7rem;
    border-radius: 0%;
  
}
.userInfos .replaceUserPhoto{
	cursor: pointer;
    position: absolute;
    top: 14%;
    right: 26%;
    width: 22px;
    height: 30px;
}
.userInfos  .menu li {
	width: 100%;
	height:4rem;
	line-height: 4rem;
    font-size: 1.5rem;
    cursor: pointer;
	
}
.userInfos .menu  li:hover{
	background: rgba(0,0,0,0.3);
}
.menu_main>li{
	height: 8vh;
	margin: 10px 0;
}
.menu_main>li>a{
	font-size: 16px;
	display: block;
	padding: 10px 0;
}
.menu_main>li a:hover{
	background: rgba(0,0,0,.2);
	/*border-bottom: 3px solid #888c8d;*/
}


.menuLogo{
	margin: 8vh auto;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: #e5c593;
}

.closeMenu,.openMenu{
	position: absolute;
	top: 50%;
	right: 0px;
	margin-top: -20px;
	cursor: pointer;
	padding: 0 15px;
}

.closeMenu>img,.openMenu>img{
	height: 40px;
}
.closeUserInfos{
	position: fixed;
	top: 0;
	left: -55px;
	width: 50px;
	height: 100%;
	background: rgba(0,0,0,.2);
	cursor: pointer;
	z-index: 1000000;
}

.closeUserInfos .closeLogo{
	width: 12px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -6px;
}