* {
	margin: 0;
	padding: 0;
	color: #FFF;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	line-height: 0
}

.clearfix:after {
	clear: both;
	font-size: 0;
	height: 0;
	display: block;
	visibility: hidden;
	content: " ";
	line-height: 0
}

.clearfix {
	zoom: 1
}

ul,
li {
	list-style: none;
}
a{
	text-decoration:none;
}
td a:hover {
	text-decoration:underline;
	cursor: pointer;
}
input:focus{outline: none;
}
body {

	position:relative;
	font-family: "microsoft yahei", sans-serif;
}
.menuLine{
	display: block;
	width: 64px;
	border-top: 3px solid #e5c593;
	position: absolute;
	top: 0;
	left: -120px;
	transition: .35s all;
	webkit-transition: .35s all;
}
.blur-effect{
	filter: blur(6px);
	-webkit-filter: blur(6px);
}
/*遮罩层*/
.fadeInMask{background: rgba(0,0,0,.3);width:100%;height: 100%;z-index: 9998;visibility: hidden;position: absolute;top:0;}


body,html{
	overflow: hidden;
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-size: 62.5%;
    min-width: 1218px;
    min-height: 800px;
}

.menu_order{
	width:20%;
	height: 100%;
	float: left;
	background: #777777;
    position: relative;
}
.content_order{
	width:80%;
	height: 100%;
	float: right;
	background: #ccc;
	position: relative;
}
.menu_box{
	text-align: left;
	width:50%;
	height: 60%;
	position: absolute;
	background: #555;
	right:0;
	top:50%;
	transform: translate(0%,-50%);
}
.menu_box ul{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%,-50%);
	}
.menu_box ul li{   
	line-height: 34px;
    font-size: 1.5rem;
    height: 10%;
 }

 
 .menu_box ul li a{
 	color:rgba(221,178,146,.6);
 }
 .menu_box_active{
 	color:rgba(221,178,146,1) !important;
 }

.content_order_box{
	
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 90%;
	background: #333;
	position: absolute;
	top:50%;
	left:0;
	transform: translate(0%,-50%);
}

.orderHeade{
	display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 75px;
}
.orderTitel{
	margin-right: auto;
    color: rgb(157,126,123);
    margin-top: auto;
    display: inline-block;
    font-size: 3rem;
}
#orderSearchVal{
	padding-left:30px;
	border:1px solid rgb(107, 72, 62);
	background: transparent;
	width: 350px;
	height: 40px;
	line-height: 40px;
	align-self: center;
}
#orderSearchBtn{
	color: rgba(255,255,255,.5);
    font-weight: bolder;
    margin-right: 27px;
    background: #553f37;
    width: 106px;
    height: 44px;
    line-height: 40px;
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
}
/*orderTable*/
.orderTablebox{
	width: 100%;
	background: #271e1f;
	margin-bottom: 20px;
}
.orderTable{
	width:100%;
}
.orderTable tr td{
	color:#976854;
	vertical-align:middle; 
	text-align:center;
}
.orderTable tr{
	font-size: 17px;
	height: 50px;
}


.ordersDeatils{
	width: 100%;
	display:flex;
}
.ordersDeatils ul{width: 100%;height: 100%;}
.ordersDeatils ul li{
	width: 100%;height: 100%;
	margin:20px 0;
}
.ordersDeatils ul li .ordertp{
	display: flex;
	height:20px;
	width:100%;
	margin-bottom: 10px;
}
.ordersDeatils ul li .ordertp input{
	margin-right: auto;
	margin-top:auto;
	width:15px;
	height: 15px;
}
.ordersDeatils ul li .ordertp div,span{
    color:#a48578;
	font-size:16px;
}
.ordersDeatils ul li .orderbt{
	width: 100%;
	height:90px;
	background:rgba(253,195,169,.16) ;
}
.ordersDeatils ul li .orderbt  table{
	width: 100%;height: 100%;
	
}
.ordersDeatils ul li .orderbt  table tr td,.ordersDeatils ul li .orderbt  table tr td a{
	color:#f3c3be;
    text-align: center;
    letter-spacing: 2px;
}
.ordersDeatils ul li .orderbt  table tr:first-child td:last-child{
	color:#ffa47c;
	font-weight: 300;
	cursor: pointer;
	font-size:16px;
}
.ordersDeatils ul li .orderbt  table tr:first-child td:nth-child(2){
	color:#fff;
	font-size:14px;
}
.ordersDeatils ul li .orderbt  table tr:first-child td:nth-child(1) img{
	width:60px;
}











