/*预支付的页面*/
.preorder_content{
	font-size:18px;
	letter-spacing: 1px;
    position: absolute;
    width: 80%;
    height: 90%;
    left: 14%;
    top: 5%;
}
.consigneeInfo{
	margin-top:2%;
}
.consigneeInfo_titel{
	align-self: center;
	width:100%;
	padding:10px 40px;
	display: flex;
}
.consigneeInfo_titel>.Infotitel{
	align-self: center;
	display: flex;
	margin-right:auto;
	font-size:18px;

}
.consigneeInfo_titel>.newAdress{
	font-size:16px;
	cursor: pointer;
	display: flex;
	margin-right:4%;
}
.consigneeInfoBox{
	width:100%;
	min-height: 75px;
	border:1px solid #bfbfbf;
    flex-wrap: wrap-reverse;
	padding:10px 20px;
	/*max-height: 200px;
	overflow-y: scroll;*/
}
.consigneeInfoDetails{
     align-self: center;
	width:100%;
	padding:5px 70px;
	
}
.consigneeInfoDetails .adressTable{
	width:100%;
}
.consigneeInfoDetails .adressTable tr{
	height: 44px;
}
.consigneeInfoDetails table tr:hover{
	background:rgba(191,191,191,.3);
	cursor: pointer;
}
.consigneeInfoDetails tr td {
	font-size:18px;
	text-align: center;
}
.consigneeInfoDetails tr td:nth-child(1),
.consigneeInfoDetails tr td:nth-child(2),
.consigneeInfoDetails tr td:nth-child(8),
.consigneeInfoDetails tr td:nth-child(9){
	padding:0 20px;
	width:13%
}
.fixAdress{font-size: 20px;}
.defaultAdress div{
	background: rgba(191,191,191,.5);
	padding:2px 3px;
	width:90%;
}
.defaulthidden{
	visibility: hidden;
}
.adressmain{
	position: relative;
	border:2px solid #c9a978;
}
.adressmain .ic_activeAdress_img{
	position: absolute;
	right:0;
	bottom: 0;

}

.DistributionlistBox{
	width:100%;
	min-height: 300px;
	border:1px solid #bfbfbf;
	max-height: 600px;
	overflow-y: scroll;
	flex-direction: row
}
.listoption,.listproduct{
	min-height:350px;
	max-height: 350px;
	width:50%;
	float:left;
	padding:20px 30px 0 30px;
}
.listproduct{
	   overflow-y: scroll;
}
.listoption{
	border-right: 1px dashed rgba(255,255,255,.4);
}
.listoptionbox {
	margin:10px 0;
	display: flex;
}
.listoptionTitle{
	width:100px;
	text-align: left;
	align-self: center;
	display: inline-block;
}
.listoptionbox .dropdown{
	display: inline-block;
	margin-left:15%;
}
.listoptionbox .dropdown button{
	width:180px;
	padding:10px 25px;
	background-color: transparent;
	color:rgba(255,255,255,.6);
	border:1px solid  rgba(255,255,255,.4);
	border-radius: 0;
	font-size:18px;
}
.listoptionbox .dropdown ul.dropdown-menu{
     width:100%;
	font-size:15px;
}
.open > .dropdown-toggle.btn-default{
	color:rgba(255,255,255,.6);
	background-color: transparent;
}
.listoptionbox > textarea{
	margin-left:15%;
	border:1px solid  rgba(255,255,255,.4);
	border-radius:5px;
	width: 40%;
	height: 120px;
	color:rgba(255,255,255,.8);
	font-size: 17px;
	resize:none;
	padding:10px;
	background-color:transparent;
}


@media screen and (max-width:1400px){
	
.consigneeInfo_titel > .Infotitel,.listoptionbox .dropdown button{
	font-size:15px;
}
.consigneeInfo_titel>.newAdress {
    	font-size: 14px;
    }
.consigneeInfoDetails tr td {
	font-size:14px;
  }
.listoptionTitle{
  	font-size:14px;
  }
.listoption, .listproduct {
    min-height: 200px;
    padding: 10px 10px 0 30px;
}
.consigneeInfoDetails tr td:nth-child(1),
.consigneeInfoDetails tr td:nth-child(2),
.consigneeInfoDetails tr td:nth-child(8), 
.consigneeInfoDetails tr td:nth-child(9) {
    padding: 0 17px;
    width: 16%;
}
}

.listproduct table tr td{text-align: left;}
.listproduct table {width:100%;height: 100px;margin-bottom: 20px;}
.consigneeInfo>table{width:100%;height: 100px;}
.odersbox>table{width:100%;}
.consigneeInfo .odersbox>table tr td{text-align: right;height: 30px;}
.consigneeInfo .odersbox>table tr td:first-child{width:85%}
.consigneeInfo .odersbox>table tr td:last-child{width:10%}

.conmitOrders{width: 100%;height: 60px;background: rgba(210,210,210,.3);position: relative;margin-top:10px}
#conmit{float:right;height: 60px;width: 160px;background: #c9a978;text-align: center;line-height: 60px;font-size: 20px;cursor: pointer;}
#conmit:hover{background:#bb8737;}
.layui-layer-content div,.layui-layer-content p{color:#000;}
.allCount{float:right;width: 200px;height: 100%;line-height: 60px;font-size:18px;margin-right: 60px;}
.allCount b{color: #c9a978;font-size:22px;margin-left:10px;}
/*新增收货地址弹出层*/
.adressBox{padding:20px 20px 35px 12%;display: flex;flex-direction: column;}
.adressBox .required{color:red;margin-right: 10px;line-height: 40px;}
.adressBox>div{margin:5px 0;display: flex;}
.adressBox label{text-align: right;width:12%;color:#505050;min-width: 122px;font-weight: 100;font-size: 18px;display: block;}
.adressBox > .adress_userName,
.adressBox > .adress_location,
.adressBox > .adress_location_details,
.adressBox > .adress_phoneNum,
.adressBox > .adress_email,
.adressBox > .adress_defaultCheackbox
{width: 100%;height: 40px;line-height: 40px;font-size:20px;letter-spacing: 1px;}
.adressBox > .adress_userName input,
.adressBox > .adress_location_details input,
.adressBox > .adress_phoneNum input,
.adressBox > .adress_location input,
.adressBox > .adress_email input
{border:1px solid #c6bcb6;border-radius: 4px;width: 150px;height: 40px;font-size: 20px;color:rgba(80,80,80,.9);padding-left: 15px;margin-left:15px}
#distpicker4{width: 150px;height: 40px;font-size: 20px;color:rgba(80,80,80,.9);margin-left:15px;display: flex;}
#distpicker4 select{margin-right:10px;border-radius: 4px;color:rgba(80,80,80,.9);font-size: 16px;padding-left:15px;}
#distpicker4 select option{color:rgba(80,80,80,.9);}
.adressBox > .adress_location input,
.adressBox > .adress_phoneNum input{width:250px;}
.adressBox > .adress_location_details input{width: 60%;}
.adressBox > .adress_defaultCheackbox input{width: 20px;margin-left: 15px;line-height: 40px;margin-right: 15px;align-self: center;height: 20px;}
.adressBox > .adress_commit .saveBtn{width: 150px;height: 50px;border-radius: 4px;background: rgb(208,169,114);border:none;color:rgba(255,255,255,.8);font-size:16px;margin-left:15px;outline: none;}
.adressBox > .adress_commit .saveBtn:hover{background: rgba(208,169,114,.7);color:#fff}
/*评价弹出层*/
.comments{padding:0px 20px 35px 5%;display: flex;flex-direction: column;height: 100%;}
.comments>p{letter-spacing: 1px;margin-bottom: 10px;color:rgba(0,0,0,0.8);font-size: 20px;}
.comments > .commentsBox{width: 55%;height:30%;border:1px solid #DCDCDC;box-shadow:0 0 5px #bfbfbf;display: flex; margin:5px 0;}
.comments > .commentsBox > .comments_titel >p {margin:0;padding:0;}
.comments > .commentsBox > .comments_titel{width: 24%;height: 100%;border-right:1px solid #dcdcdc;display: flex;align-items:center;justify-content: center; background:#f4f4f4;color:black;}
.comments > .commentsBox >#commentText,
.comments > .commentsBox >#commentServiceText,
.comments > .commentsBox >#conmmentPic
{width: 100%;height: 100%;border: none;outline: none;padding:5px 0 5px 5px;resize: none;}
.comments > .service{height: 20%;}
.comments > .commentPic{height: 20%;}
