@{
    Layout = null;
    string themePath = ViewBag.themePath ?? string.Empty;
    string _tempFile = Path.Combine(themePath, "_FindPassword.cshtml");
}

@using Whiskey.ZeroStore.ERP.Transfers
@using Whiskey.Web.Helper;
@model MemberDto

@{
    if ((ViewBag.themeExist ?? false) && FileHelper.FileIsExist(_tempFile))
    {
        Html.RenderPartial(_tempFile);
    }
    else
    {
        <div class="form-group">
            <h4 class="find-title text-center">我们会将密码重置并发送至你的邮箱，请注意查收。</h4>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                用户名 :
            </label>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.MemberName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Email) :
            </label>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
    }
}