<div id="app-appointment-collocationplan-select">

    <div class="row">
        <div class="panel panel-list">
            <div class="panel-heading clearfix">
                <div class="col-md-4 panel-title">
                    <h5><i class="fa fa-list"></i> <span>数据列表</span></h5>
                </div>
                <div class="col-md-8 text-right">
                </div>
            </div>
            <table class="table table-list table-hover valign-middle" width="100%">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>方案名</th>
                        <th>封面</th>
                        <th>单品数量</th>
                        <th>搭配组合数量</th>
                        <th>使用次数</th>
                        <th>创建时间</th>
                        <th>操作人</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in pageDatas">
                        <td>{{index+1}}</td>
                        <td>{{item.Name}}</td>
                        <td>
                            <img-suspension v-bind:path="item.CoverImg"></img-suspension>
                        </td>
                        <td>{{item.RuleCount}}</td>
                        <td>{{item.SuggestionCount}}</td>
                        <td>{{item.UseCount}}</td>
                        <td>{{item.CreatedTime|datetime}}</td>
                        <td>{{item.MemberName}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" v-on:click="view(item.Id)">查看</button>
                            <button v-if="selected.indexOf(item.Id)==-1" class="btn btn-primary" type="button" v-on:click="selectPlan(item.Id)">
                                选择
                            </button>
                            <button v-else class="btn btn-danger" type="button" v-on:click="removePlan(item.Id)">
                                取消选择
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
            <my-page v-bind:current="pageInfo.pageIndex"
                     v-bind:total="pageInfo.totalCount"
                     v-bind:page-size="pageInfo.pageSize"
                     v-bind:page-size-opts="[10,20]"
                     @@on-change="changePage"
                     @@on-page-size-change="changePageSize">
            </my-page>
        </div>
    </div>
</div>

<script>
    let arr = []


    try {
        arr = JSON.parse('@Html.Raw(ViewBag.selectedIds)')
    } catch (e) {

    }

    let ids = arr.map(i => parseInt(i))

    var planSelectVM = new Vue({
        el: "#app-appointment-collocationplan-select",
        data: {

            isDeleted: false,
            isEnabled: true,
            pageDatas: [], //分页数据
            pageInfo: {
                pageIndex: 1,
                pageSize: 10,
                pageCount: 0,
                totalCount: 0
            },
            selected: ids,
            ids:'@ViewBag.ids'
        },
        mounted: function () {
            this.search();
        },
        methods: {
            view(id) {
                var _self = this;
                var dialog = new $.whiskey.web.ajaxView({
                    caption: "查看数据",
                    actionUrl: "@Url.Action("Edit","CollocationPlan")",
                    lockButton: $(this),
                    params: { Id:id}

                });
            },
            closeDialog() {
                $("#app-appointment-collocationplan-select").parents(".modal-dialog").find("button.bootbox-close-button").trigger('click');
            },
            selectPlan(id) {
                if (this.selected.indexOf(id) === -1) {
                    this.selected.push(id)
                }
            },
            removePlan(id) {
                var index = this.selected.indexOf(id);
                if (index !== -1) {
                    this.selected.splice(index,1)
                }
            },
            search: function (filter) {

                var _self = this;

                var searchData = {
                    pageIndex: this.pageInfo.pageIndex,
                    pageSize: this.pageInfo.pageSize,
                    ids:this.ids,
                    productNumber: this.productNumbers
                }

                var name = '', val = '';
                $("#app-appointment-collocationplan-select input[name],select[name]").each(function (index, elem) {
                    name = elem.getAttribute("name")
                    val = elem.value;
                    if (val) {
                        searchData[name] = val;
                    }
                })


                if (filter) {
                    searchData = _.extend(searchData, filter)
                }

                $.getJSON('/CollocationPlan/List', searchData).done(function (res) {

                    if (res.ResultType !== 3) {
                        //console
                        return;
                    }
                    var pageInfo = res.Data.pageInfo;
                    var pageData = res.Data.pageData;
                    //判断是否已在列表中

                    _self.pageDatas = pageData;
                    _self.pageInfo = pageInfo;
                })
            },
            changePage: function (page) {
                this.pageInfo.pageIndex = page;
                this.search();
            },
            changePageSize: function (newSize) {

                this.pageInfo.pageSize = newSize;
                this.pageInfo.pageIndex = 1;
                this.search();
            }

        }

    })
</script>