<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="local" connectionString="data Source=.;Initial Catalog=ZeroStore_DYK; integrated security=true; Pooling=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="server" connectionString="data source=123.56.41.147;initial catalog=ZeroStore;persist security info=True;user id=sa;password=lion198759;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="test" connectionString="data source=123.56.41.147;initial catalog=Whiskey;persist security info=True;user id=sa;password=lion198759;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Whiskey-Log-Level" value="Trace" />
    <add key="Whiskey-Database-String" value="local" />
    <add key="SMTP-Server" value="smtp.exmail.qq.com" />
    <add key="SMTP-Email" value="lilong@0kufang.com" />
    <add key="SMTP-Password" value="lion198759" />
    <!--微信支付配置开始-->
    <add key="iOSAppid" value="" />
    <add key="Mch_id" value="" />
    <!--商户Id-->
    <add key="WeChatNotify_url" value="" />
    <!--微信支付配置结束-->
    <!--考勤统计时间开始-->
    <add key="AttenTime" value="22:25" />
    <!--考勤统计时间结束-->
    <!--域名配置-->
    <add key="WebUrl" value="https://www.0-fashion.com" />
    <add key="ApiUrl" value="https://api.0-fashion.com" />
    <!--圈子图标路径配置-->
    <add key="CirclePath" value="/Content/UploadFiles/Circle/" />
    <!--线上店铺ID配置-->
    <add key="OnlineStorage" value="5" />
    <!--编辑器上传文件保存路径开始-->
    <add key="Product" value="/Content/UploadFiles/Products/" />
    <add key="Article" value="/home/Article/Images/" />
    <!--编辑器上传文件保存路径结束-->
    <!--配置统计文章点击率脚本xml路径开始-->
    <add key="HitsScriptPath" value="/xml/hitsScript.xml" />
    <!--配置统计文章点击率脚本xml路径结束-->
    <!--配置文章参数xml文件路径开始-->
    <add key="ArticleParameterPath" value="/xml/ArticleParameter.xml" />
    <!--配置文章参数xml文件路径结束-->
    <!--供应商配置开始-->
    <add key="PartnerImagePath" value="/Content/Images/Partner/" />
    <!--供应商配置结束-->
    <!--生成文章保存路径开始-->
    <add key="ArticleSavePath" value="/home/Article/" />
    <add key="ArticleImagePath" value="/Content/Images/Article/CoverImages/" />
    <!--生成文章保存路径结束-->
    <!--模版配置文件开始-->
    <add key="TemplatePath" value="/Template/" />
    <add key="ArticleTemplatePath" value="/Template/ArticleTemplate/" />
    <add key="SectionTemplatePath" value="/Template/SectionTemplate/" />
    <add key="WebsiteTemplatePath" value="/Template/WebsiteTemplate/" />
    <add key="SectionListTemplatePath" value="/Template/SectionListTemplate/" />
    <add key="ProductTemplatePath" value="/Template/ProductTemplate/" />
    <add key="ProductListTemplatePath" value="/Template/ProductListTemplate/" />
    <add key="WebsitePath" value="/home/" />
    <add key="SectionPath" value="/home/Section/" />
    <add key="ArticleAttrPath" value="/ArticleAttr/" />
    <!--模版保存路径-->
    <add key="TemplateSuffix" value=".html" />
    <!--模版文件后缀名-->
    <!--模版JS配置开始-->
    <add key="JSPath" value="/Template/Script/" />
    <!--模版JS配置结束-->
    <!--模版CSS配置开始-->
    <add key="CSSPath" value="/Template/Css/" />
    <!--模版CSS配置结束-->
    <!--模版图片配置开始-->
    <add key="ImagePath" value="/Content/Images/Template/Image/" />
    <add key="ImageMaxSize" value="160000" />
    <add key="ImageSuffix" value="jpg,gif,png,JPG,GIF,PNG" />
    <!--模版图片配置结束-->
    <!--模版配置文件结束-->
    <!--专题配置文件开始-->
    <add key="SaveSubjectPath" value="/Subject/" />
    <!--专题配置文件结束-->
    <!--会员配置开始-->
    <add key="SaveMemberPhoto" value="/Content/Images/MemberPhoto/" />
    <!--会员照片路径-->
    <add key="SaveMemberCollocation" value="/Content/Images/MemberCollocation/" />
    <!--会员搭配保存路径-->
    <add key="SaveMemberSingleProduct" value="/Content/Images/MemberSingleProduct/" />
    <!--会员单品保存路径-->
    <!--会员配置结束-->
    <!--品类配置开始-->
    <add key="CategoryIconPath" value="/Content/Images/CategoryIcon/" />
    <!--品类配置结束-->
    <!--颜色配置开始-->
    <add key="ColorIconPath" value="/Content/Images/ColorIcon/" />
    <!--颜色配置结束-->
    <!--尺寸配置开始-->
    <add key="SizeIconPath" value="/Content/Images/SizeIcon/" />
    <!--尺寸配置结束-->
    <!--季节配置开始-->
    <add key="SeasonIconPath" value="/Content/Images/SeasonIcon/" />
    <!--季节配置结束-->
    <!--品牌配置开始-->
    <add key="BrandIconPath" value="/Content/Images/BrandIcon/" />
    <!--品牌配置结束-->
    <!--商品属性配置开始-->
    <add key="ProductAttrIconPath" value="/Content/Images/ProductAttrIcon/" />
    <!--商品属性配置结束-->
    <!--UrlConfiguration文件路径配置开始-->
    <add key="UrlConfigurationPath" value="/xml/UrlConfiguration.xml" />
    <!--UrlConfiguration文件路径配置结束-->
    <!--商品静态页路径配置开始-->
    <add key="ProductHtmlPath" value="/home/Product/" />
    <!--商品静态页路径配置结束-->
    <!--优惠卷配置开始-->
    <add key="CouponBarcodePath" value="/Content/Images/Coupon/Barcode/" />
    <!--条形码配置-->
    <add key="CouponImagePath" value="/Content/Images/Coupon/Image/" />
    <!--优惠卷配置-->
    <add key="CouponQRCodePath" value="/Content/Images/Coupon/CouponQRCode/" />
    <!--优惠卷二维码配置-->
    <!--优惠卷配置结束-->
    <!--员工休息天数配置开始-->
    <add key="RestDay" value="5" />
    <!--员工休息天数配置结束-->
    <!--奖品配置开始-->
    <add key="RewardImagePath" value="/Content/Images/Prize/" />
    <!--奖品配置结束-->
    <!--圈子话题图片路径开始-->
    <add key="TopicImagePath" value="/Content/Images/Topic/" />
    <!--圈子话题图片路径结束-->
    <!--打印机设置-->
    <add key="printproj" value="0" />
    <add key="IsDevelopment" value="1" />
    <add key="RedisHosts_DEV" value="8268DACEBE7943A09F057F3F21B5A429@11.1.1.111:6379" />
    <add key="RedisHosts_PRODUCTION" value="8268DACEBE7943A09F057F3F21B5A429@123.56.194.232:6379" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>