@{
    string themePath = ViewBag.themePath ?? string.Empty;
}

<link rel="stylesheet" href="~/content/styles/layout/nav.css" />

@section Scripts{
    <script src="/Scripts/default_login.js"></script>
}
@{
    <div id="nav-wrapper" style="position: absolute;width:100%;height:60px;right:0;top:0">

        @if (ViewBag.themeExist ?? false)
        {
            Html.RenderPartial(Path.Combine(themePath, "_Nav.cshtml"), ViewBag as object);
        }
        else
        {
            <span class="menuLine"></span>
            <ul class="clearfix menu">

                @if (!(ViewBag.isLogin ?? false))
                {
                    <li>
                        <a href="javascript:;" id="login_content">登录</a>
                    </li>
                }
                else
                {
                    <li class="exit">
                        <img class="userPhoto" src="@ViewBag.MemberPhoto" />
                        <a>@ViewBag.MemberName</a>
                        <div class="userOption">
                            <div class="userOption_content">
                                <ul>
                                    <li>
                                        <a href="/Members/Member/Index">个人设置</a>
                                    </li>
                                    <li>
                                        <a href="#">购物车</a>
                                    </li>
                                    <li>
                                        <a href="/Authorities/Login/logout" class="notmapper">退出</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                }
                <li class="menu-item">
                    <a href="javascript:;" fashion-flag="-1">时尚杂志</a>
                </li>
                <li class="menu-item">
                    <a href="/Home/Online" fashion-flag="-1">在线商城</a>
                </li>
                <li class="menu-item active">
                    <a href="/" fashion-flag="-1">首页</a>
                </li>
                <!--<li class="menu-item">
                    <a href="@Url.Action("index")">
                        <img class="menu_logo" src="/content/images/shoping/menu_logo.png" />首页
                    </a>
                </li>-->
            </ul>

        }
    </div>
}
@{
	
	if (!(ViewBag.isLogin ?? false))
        {
    
           	 	<link href="~/Content/Styles/Layout/loginCss.css" rel="stylesheet" />
        	
            Html.RenderAction("index", "login", new { area = "Authorities" });
           
        }
}
<script>
    (function ($) {
        $.fashion.buildLoad({
            wrapper: "#nav-wrapper",
            selector: "ul.menu,ul.nav",
            contentwrapper: "#main-wrapper",
            flag: 0//0=nav,1=menu
        });


        /*----------------商品详情 ----------------*/
        $(".menu li.menu-item").mouseenter(function () {
            var w = $(this).width();
            var left = $(this).offset().left + parseInt($(this).css('paddingLeft'));
            $('.menuLine').css({ 'left': left, width: w })
        })
        $(".menu").mouseleave(function () {
            var w = $(this).width();
            $('.menuLine').css({ 'left': -120 })
        })
        $("#nav-wrapper .menu").on("mouseenter", ".exit", function () {
            $(".userOption").stop().fadeIn();
        });

        $("#nav-wrapper .menu").on("mouseleave", ".userOption", function () {
            $(".userOption").stop().fadeOut();
        });
    })(jQuery);
</script>
