<script src="~/Content/Scripts/Jquery/SignalR/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        initialHub();
    });
    function initialHub(startlog) {
        startlog = startlog || false;
        $.connection.hub.logging = startlog;
        var connection = $.connection.hub.start();
        var qrlogin = $.connection.QrLoginHub;

        qrlogin.client.getStatus = function (data) {
            if (data.ResultType == OperationResultType.Success) {
                ValidLogin(data.Data);
            }
        }
        qrlogin.client.backQrCode = function (data) {
            if (data.ResultType == OperationResultType.Success) {
                GetQrCode(qrlogin.server);
            }
        }
        qrlogin.client.scanComplete = function (data) {
            if (data.ResultType == OperationResultType.Success) {
                var adminImg = data.Data.adminImg;
                //扫码成功
                if (adminImg) {
                    $("#QrCode").attr("src", adminImg).parent().addClass("scan_success");
                } else {
                    debugger;
                    var scan_suceess = '<div id="scan_suceess" style="position:absolute;top:-11px;left:-6px;width:150px;height:150px;color:#fff;z-index:9999;background:rgba(0,0,0,.7);">'
                        + '<img src="/Content/Images/img/scan_suceess.png" /></div>';
                    $('#QrCode').after(scan_suceess);
                }
            }
        }
        connection.done(function () {
            GetQrCode(qrlogin.server);
            setInterval(GetQrCode, 5 * 60 * 1000, qrlogin.server);
        });
        $.connection.hub.reconnected(function () {
            GetQrCode(qrlogin.server);
        });
    }
    //获取登录二维码
    function GetQrCode(server) {
        $.post("@Url.Action("GetQrCode", "Login", new { area = "Authorities" })", function (da) {
            var data = da.Data;
            var qrcodeHtml = "<img id='QrCode' src='" + data.qrImg + "'>";
            var $div_qr_code = $("div.qr_code");
            $div_qr_code.empty().append(qrcodeHtml).removeClass("scan_success");
            if (da.ResultType == OperationResultType.Success) {
                $div_qr_code.removeClass("qrcode_fail").addClass("qrcode_success");
                server.flushQrCode(data.uuid);
            } else {
                $div_qr_code.removeClass("qrcode_success").addClass("qrcode_fail");
            }
        });
    }
    //验证登录
    function ValidLogin(uuid) {
        $.fashion.web.ajax({
            type: "post",
            url: "@Url.Action("GetQrCodeStatus", "Login", new { area = "Authorities" })",
            data: { uuid: uuid },
            errorIsMsg: true,
            closeDialogTimer: 1200,
            closeDialogEvent: function (da) {
                location.reload();
            }
        });
    }
</script>