<style>
    .adminlist .modal-content {
        width: 700px;
    }
</style>
@*<div class="row">
        <div class="panel panel-search">
            <div class="panel-heading clearfix">
                <div class="col-md-4 panel-title">
                    <h5><i class="fa fa-search"></i> <span>查询条件</span></h5>
                </div>
                <div class="col-md-8 text-right">
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-search">
                    <div class="col-md-10">
                        <div class="form-group no-margin-hr">
                            <label class="control-label col-md-2">搜索条件</label>
                            <div class="col-md-8">
                                @Html.TextBox("Keyword", "", new { @class = "form-control", @placeholder = "员工账号/真实姓名/手机号" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right clearfix ">

                <div class="pull-left">
                    <button id="Search" title="按条件搜索数据" type="button" class="btn btn-primary btn-padding-right"><i class="fa fa-search"></i> <span>搜索</span></button>
                    <button id="Clear" title="重置搜索栏的各项输入" type="button" class="btn btn-default btn-padding-right"><i class="fa fa-refresh"></i> <span>清除</span></button>
                </div>
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="panel panel-list">
        <div class="panel-heading clearfix">
            <div class="col-md-4 panel-title">
                <h5><i class="fa fa-list"></i> <span>数据列表</span></h5>
            </div>
        </div>
        <table class="table table-list table-hover valign-middle" width="100%" id="vaildList">
            <thead>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.whiskey.datatable.instance = $("#vaildList").dataTable({
            "bScrollCollapse": false,
            "sAjaxSource": "@Url.Action("VaildViewList")",
            "fnServerParams": function (aoData) {
                 aoData.push({ name: "uuid", value: '@ViewBag.uuid' });
            },
            "aoColumns": [{
                "bVisible": false,
                "bSearchable": false,
                "sName": "Id",
                "mData": "Id"
            },
            {
                "sTitle": $.whiskey.datatable.tplTitleCheckbox(),
                "sName": "Id",
                "bSortable": false,
                "bSearchable": false,
                "mData": function (data) {
                    return $.whiskey.datatable.tplListCheckbox(data.Id);
                }
            },
            {
                "sTitle": "编号",
                "bSortable": false,
                "sName": "RowNumber",
                "mData": function (data) {
                    var index = data.iDisplayIndex + 1;
                    return '' + index + '';
                }
            },

            {
                "sTitle": "流水号",
                "bSortable": false,
                "sName": "ProductBarcode",
                "mData": function (data) {
                    return data.ProductBarcode;
                },
            },
            //{
            //    "sTitle": "选择",
            //    "bSortable": false,
            //    "sName": "",
            //    "mData": function (data) {
            //        return '<button type="button" onclick="choose(this)"  class="btn btn-light-green" data-name="' + data.RealName + '"  data-id="' + data.Id + '">选择</button>';
            //    },
            //},
            ]
        });

        $("#Search").on("click", function () {
            $.whiskey.datatable.reset(false);
        });

        $("#Clear").on("click", function () {
            $.whiskey.web.clearForm(".form-search");
        });

    });

    //选择店铺
    function choose(my) {
        var name = $(my).attr("data-name");
        var id = $(my).attr("data-id");
        $(".adminName").attr("value", name);
        $(".adminId").attr("value", id);
        $(".adminlist").modal("hide");
    }
</script>
