
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <style>
        .diaclg .modal-dialog {
            width: 80%;
            max-width: 80%;
        }
        #ViewDiv {
        position:relative;
        }
    </style>
    <script type="text/javascript">
        try {
            document.onkeydown = function (event) {
                var e = event || window.event || arguments.callee.caller.arguments[0];
                if (e && e.keyCode == 27) { // 按 Esc
                    alert("esc test");
                }
            }
            var plugin = document.getElementById("pluginId");
            //播放业务码的回调
            plugin.myOnPlayerResult = calltest;
            //码流开始播放的回调
            plugin.myOnPlayBegan = OnPlayBegan;

            function calltest(result, code, type) {

                var test = "result=" + result + ",code=" + code + ",type=" + type;

            }
            function OnPlayBegan() {

            }

            //实时播放
            function playRtsp() {
                var rev = 0;
                plugin.openLog(1);
                plugin.initOpenApi("openapi.lechange.cn", 443);
                rev = plugin.playRtspReal("@ViewBag.token", "@ViewBag.sn_Number", 0, 0);
            }
            playRtsp();

            function goback() {
                if ("@ViewBag.loadtype" == "1") {
                    $("#content-wrapper").load("/Video/VideoEquipment/Index");
                } else {
                    $("#content-wrapper").load("/Video/MonitorPlayback/Index");
                }
            }
        }
        catch (e) {
            $.whiskey.web.alert({
                type: "info",
                content: "查看监控出现异常，请重新安装插件，并关闭浏览器重新打开!"
            });
        }
    </script>
</head>

<body>
    <embed width="1000" height="600" type="application/x-npLCPlug" style="position:absolute;top:0;left:50%;margin-left:-600px;" id="pluginId">
    <button onclick="goback()" style="position: absolute;bottom: -602px;right: 246px;margin-left: -400px;width:102px; height: 50px;border-radius: 14px;font-size: 20px;letter-spacing: 3px;">返回</button>
</body>

</html>
