@charset 'utf-8'
*{
  -webkit-touch-callout: none;
  /*-webkit-user-select: none;*/
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
body,h1,h2,h3,p,ul,ol,form,fieldset,figure {margin: 0;padding: 0; font-size: 17px;}
div,figure,img,input,button {box-sizing: border-box;}
body,html{overflow: hidden; height: 100%;background:url('../img/BG@2X.png')no-repeat;background-size:cover;font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;}
img {display: block;max-width: 100%;}
ul,ol{list-style: outside none none;}
li{display:block;}
a {text-decoration: none;display: block;}
.clearfix:after {
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}



/*header*/
.header{height: 7%;border-bottom:1px solid silver;width: 93%;margin:0 auto;position: relative;}
.header .contain{height: 100%;line-height: 100%;width: 100%;}
.header .contain .back a{color: #fff;position: absolute;top:53%;left: 4%;width: 20%}
.header .contain .back a img{display: inline;height:12px;padding-right: 2px;}
.header .contain .location a{ color: #fff;position: absolute;top: 50%;left: 34.5%;font-size: 1.5em}
.header .contain a{position: absolute;right:12px;bottom: 4px;}
.header .logo{width:115px;height:23px;position: absolute;top: 50%;margin-top: -5px;left: 50%;margin-left: -57.5px;}
.header .selection span{position: absolute;right:0px;bottom: 13px;color: #fff;font-size: 2em;}


/*单品*/
.danpin{height:93%}
.danpin .shangzhuang{height: 70%;width: 33.3%;float: left;position: relative;border-right: 1px solid silver;}
.danpin .lianti{height:70%;width: 33.3%;float: left;position: relative;border-right: 1px solid silver;}
.danpin .xiazhuang{height:70%;width: 33.3%;float: left;position: relative;}
.danpin .weijin{float:left;height: 30%;width: 25%;position: relative;border-right: 1px solid silver;}
.danpin .bao{float:left;height: 30%;width: 25%;position: relative;border-right: 1px solid silver;}
.danpin .shipin{float:left;height: 30%;width: 25%;position: relative;border-right: 1px solid silver;}
.danpin .xie{float:left;height: 30%;width: 25%;position: relative;}
/*圆点图片*/
.danpin .shangzhuang img:first-child{position: absolute;right:-5px;bottom: 0}
.danpin .lianti img:first-child{position: absolute;right:-5px;bottom: 0}
.danpin .weijin img:first-child{position: absolute;top: 0;right: -5px;}
.danpin .bao img:first-child{position: absolute;top: 0;right: -5px;}
.danpin .shipin img:first-child{position: absolute;top: 0;right: -5px;}

/*服装类型图片*/
.danpin .shangzhuang img:last-child{position: absolute;top:15%;width: 60%;height:60%;}
.danpin .lianti img:last-child{position: absolute;top:15%;width: 60%;height:60% }
.danpin .xiazhuang img:last-child{position: absolute;top:15%;width: 60%;height:60%;}
.danpin .weijin img:last-child{position: absolute;top:30%;width: 60%;height:60%;}
.danpin .bao img:last-child{position: absolute;top:30%;width: 60%;height:60% }
.danpin .shipin img:last-child{position: absolute;top:30%;width: 60%;height:60% }
.danpin .xie img:last-child{position: absolute;top:30%;width: 60%;height:60% }

/*服装名称和数量*/
.danpin .shangzhuang span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;bottom: 40px;right:10px;}
.danpin .lianti span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;bottom: 40px;right:10px;}
.danpin .xiazhuang span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;bottom: 40px;right:10px;}


.danpin .weijin span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;top: 30px;right:10px;}
.danpin .bao span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;top: 30px;right:10px;}
.danpin .shipin span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;top: 30px;right:10px;}
.danpin .xie span{color:#fff;width: 20px;font-size: 20px;word-wrap: break-word;position: absolute;top: 30px;right:10px;}
.danpin span b{font-size: 15px}


/*主体部位样式*/
.main{width: 100%;height: 93%;overflow: hidden;position: relative;}

.main .top_yichu{width: 100%;height: 65%;/*overflow: hidden;*/}
.main .bottom_yichu{width: 100%;height: 38%;/*overflow: hidden;*/position: absolute;bottom: 0;}
.main>div.top_yichu>div{width: 33.3%;height: 100%;float: left;position: relative;}
.main>div.bottom_yichu>div{width: 25%;height: 100%;float: left;position: relative;}
.main span{height: 100%;vertical-align: middle;display: inline-block;}
.main .img_bg{width:62%;vertical-align: middle;display: inline-block;margin-top: -28px;}
.main .border_rg{border-right: 1px solid rgba(255,255,255,0.5);position:relative;}
#last_border_rg{position: relative}
.main .border_rg .mag_bt{position: absolute;left:0;bottom:5%;}
.main #last_border_rg .mag_bt{position: absolute;left:0;bottom:5%;}
/*小圆点定位*/
.top_cil,.bot_cil{width: 10px;height: 10px}
.top_cil{position: absolute;right: -5px;bottom: -5px;}
.bot_cil{position: absolute;top: -5px;right: -5px;}

/*文字信息*/
.main .top_yichu .tp_a,.main .bottom_yichu .bt_a{width: 20px;color: #fff;position: absolute;right: 3px;}
.main .top_yichu .tp_a{bottom:10%;}
.mag_bt{margin-top: 80%}
.main .bottom_yichu .bt_a{top:18%;}


/*二级页面*/
.pagetwo{width: 100%;height: 100%;background: url('../img/erjiyemian.png')no-repeat;background-size:cover;}
.pageone{height: 100%;width: 100%;}

/*颜色风格*/
.pagetwo .header .contain .color{color: #fff;position: absolute;right:16%;bottom: 12%;}
.pagetwo .header .contain .fengge{color: #fff;position: absolute;right: 0;bottom: 12%;}
.pagetwo .header .contain .color img{position: absolute;right:125%;bottom: -13%}
.pagetwo .header .contain .fengge img{position: absolute;right:121%;bottom: -27%}


/*搜索-添加-批量添加*/

.mobile-inner-header{width: 10%;height: 50px;position: absolute;top: 0px;right: 0px;}
.mobile-inner-header-icon{color: #ffffff;height: 50px;font-size:25px;text-align: center;float:right;width: 50px;position: relative;webkit-transition: background 0.2s;-moz-transition: background 0.2s;-o-transition: background 0.2s;transition: background 0.2s;}
.mobile-inner-header-icon:hover{cursor: pointer;}	
.mobile-inner-nav{z-index: 9999999;position: absolute;top: 60px;right: 2px;padding-top:1px;padding-bottom: 12px;display: none;border: 0px solid #000;border-radius:10px; }
.mobile-inner-nav>img{width: 125px;height: 134px;opacity: .5;}
.mobile-inner-nav ul{position: absolute;top:0;right: 0;}
.mobile-inner-nav ul li{display: inline-block;line-height: 40px;text-decoration: none;width: 80%;margin-left: 10%;color: #FFFFFF;border-bottom: solid 1px rgba(255,255,255,0.3);-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.5s;transition: all 0.2s;font-weight:initial;}
.mobile-inner-nav ul li:hover{color: rgba(255,255,255,0.4);border-bottom: solid 1px rgba(255,255,255,0.2);}

/*三级页面*/
.pagethree{width:100%;height:100%;background-size:cover;background:#fff}
.pagethree .header .contain{position: relative;}
.pagethree .header{height:7%;}
.pagethree .tupian{height:20%;width:93%;margin:0 auto;position: relative;border-bottom:1px solid #999;}
.pagethree .fenlei{height:7%;width:93%;margin:0 auto;position: relative;border-bottom:1px solid #999;}
.pagethree .yanse{height: 16%;width:93%;margin:0 auto;position: relative;border-bottom:1px solid #999;}
.pagethree .details{height:50%;width:93%;margin:0 auto;position: relative;}
.pagethree .header .contain .back a{color: black;font-size: 1.1em;position: absolute;top: 41%;letter-spacing:2px;}
.pagethree .header .contain span{position: absolute;top: 41%;left: 40%;font-size: 1.2em;letter-spacing:2px;}
.pagethree .header .contain .ok{position: absolute;top: 41%;right:0%;font-size:1.1em;letter-spacing:2px;}
/*图片上传*/
.pagethree .tupian strong{position: absolute;top:10%;left: 5%;font-size: 1.1em;}
.pagethree .tupian .fengmian{position: absolute;left:20%;top:10%;width:22%;max-width: 120px;}
.pagethree .tupian .dapei{position: absolute;left:50%;top:10%;width:22%;max-width: 120px;}
.pagethree .tupian .open{position: absolute;right:5%;top: 10%;}

/*分类选择*/
.pagethree .fenlei strong{position: absolute;top:24%;left: 5%;font-size: 1.1em;}
.pagethree .fenlei .open{position: absolute;right:5%;top:24%;}
/*颜色选择*/
.pagethree .yanse .swiper-container{height: 100%;margin-left: 16px;}
.pagethree .yanse .swiper-container .swiper-wrapper{height: 100%;margin-left: 6%;}
.pagethree .yanse strong{position: absolute;top:5%;left: 5%;font-size: 1.1em;}
.pagethree .yanse .swiper-container .swiper-wrapper .swiper-slide{height: 100%;position: relative;margin-top: 3%;}
.pagethree .yanse .swiper-container .swiper-wrapper .swiper-slide p{position: absolute;top:65%;left:6%}
.pagethree .yanse .swiper-container .swiper-wrapper .swiper-slide img{border: 1px solid #888;border-radius: 50%;position: absolute;top:17%; height: 45%;}
/*其他选择*/
.pagethree .details strong{color: #000;font-weight: 400;margin-right: 30px;}
.pagethree .details>ul>li{border-bottom: 1px solid #777;line-height: 30px;padding:1px;color: #555}
/*下拉菜单选择*/
.pagethree .details ul .flip  .panel{height:40px;display: none;margin:0px;padding:5px;text-align:center;}
.pagethree .details ul .flip  .panel ul li{float: left; font-weight: bolder;margin-left: 4%;}
.change{border:2px solid #0066CC;border-radius: 8px;}


.penal_fenlei{height:200px;display: none;}
.sxq{height:10%;background:#DDDDDD;color: #AAAAAA;}
.contain_s,.contain_x,.contain_q{height: 45px;width: 100%}
.contain_s li,.contain_x li,.contain_q li{float:left;margin-left: 25px;line-height: 45px;background-size: contain;}

	

/*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD/pad mini*/
@media (min-width: 768px) and (max-width: 991px){

.header .contain .back a{font-size: 24px;}
.header .contain .back a img{height:17px;padding-right: 6px;}
.header .logo{width: 147px;height: 34px;}
.main .top_yichu .tp_a, .main .bottom_yichu .bt_a{right: 16px;font-size: 26px;}
.header .selection span{right: 5px;bottom: -3px;}
.pagethree .tupian .dapei{left: 61%}
*{font-size: 24px}

.loding>span{left:41%;}

}














