<div class="form-group">
    <label class="control-label col-md-3">
        超时时间（秒） :
    </label>
    <div class="col-md-8">
        <input type="text" value="@ViewBag.GapValue" class="form-control" name="gapValue" check-number check-int min-value="0" dis-paste dis-drop />
    </div>
</div>