@using Whiskey.ZeroStore.ERP.Models
<style>
    .modal-content{
        width:1200px;
      
    }
</style>
<div id="view-coupon">
    <div class="row">
        <div class="panel panel-search">
            <div class="panel-heading clearfix">
                <div class="col-md-4 panel-title">
                    <h5><i class="fa fa-search"></i> <span>查询条件</span></h5>
                </div>
                @*<div class="col-md-8 text-right">
                    <input class="switcher" type="checkbox" data-class="switcher-default" checked="checked">
                </div>*@
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-search">
                    <div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label col-md-4">优惠券号码</label>
                            <div class="col-md-8">
                                <input v-on:keyup.enter="search(null)" class="form-control" type="text" name="CouponNumber" id="CouponNumber" placeholder="请输入优惠券号码" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label col-md-5">创建日期：</label>
                            <div class="col-md-7">
                                <div class="input-daterange input-group">
                                    @Html.TextBox("StartDate", "", new { @class = "date input-sm form-control", @placeholder = "开始日期" })
                                    <span class="input-group-addon">至</span>
                                    @Html.TextBox("EndDate", "", new { @class = "date input-sm form-control", @placeholder = "结束日期" })
                                </div>
                            </div>
                        </div>
                    </div>*@
                </form>
            </div>
            <div class="panel-footer text-right clearfix ">
                <div class="pull-left">
                    <button v-on:click="search(null)" title="按条件搜索数据" type="button" class="btn btn-primary btn-padding-right"><i class="fa fa-search"></i> <span>搜索</span></button>
                    <button v-on:click="document.querySelector('.form-search').reset()" title="重置搜索栏的各项输入" type="button" class="btn btn-danger btn-padding-right"><i class="fa fa-refresh"></i> <span>清除</span></button>
                </div>
                <div class="pull-right">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-list">
            <div class="panel-heading clearfix">
                <div class="col-md-4 panel-title">
                    <h5><i class="fa fa-list"></i> <span>数据列表</span></h5>
                </div>
                <div class="col-md-8 text-right">
                    
                </div>
            </div>
            <table class="table table-list table-hover valign-middle" width="100%">
                <thead>
                    <tr>
                     
                        <th>编号</th>
                        <th>优惠券名称</th>
                     
                        <th>所属活动</th>
                        <th>优惠券金额</th>
                        <th>优惠券类型</th>
                        <th>优惠券号码</th>
                        <th>是否领取</th>
                        <th>领取会员</th>
                        <th>是否使用</th>
                        <th>是否禁用</th>
                        
                        <th>创建时间</th>
                        <th>操作人</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in pageDatas"> 
                        <td>{{index+1}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.ActivityName}}</td>
                        <td>{{item.Amount}}</td>
                        <td>{{item.CouponType}}</td>
                        <td>{{item.CouponNumber}}</td>
                        <td>{{item.MemberId?"是":"否"}}</td>
                        <td>{{item.MemberName}}</td>
                        <td>{{item.IsUsed?"是":"否"}}</td>
                        <td>{{item.IsEnabled?"否":"是"}}</td>
                        <td>{{item.CreatedTime|datetime}}</td>
                        <td>{{item.OptName}}</td>
                   
                        <td>
                            
                            <button v-if="item.IsEnabled" v-on:click="disable(item.Id)" class="btn-opt-box"><i class="btn-disable-icon"></i></button>
                            <button v-if="!item.IsEnabled" v-on:click="enable(item.Id)" class="btn-opt-box"><i class="btn-enable-icon"></i></button>
                           
                         
                        </td>
                    </tr>
                </tbody>
            </table>
            <my-page v-bind:current="pageInfo.pageIndex"
                     v-bind:total="pageInfo.totalCount"
                     v-bind:page-size="pageInfo.pageSize"
                     v-bind:page-size-opts="[10,20]"
                     @@on-change="changePage"
                     @@on-page-size-change="changePageSize">
            </my-page>
        </div>  
    </div>
</div>
<script>
    var baseUrl = '/Coupons/CouponActivity';
    
    $(function () {
       
        var vm = new Vue({
            el: "#view-coupon",
        data: {
            isDeleted: false,
            isEnabled: true,
            numbers: [],
            pageDatas: [], //分页数据
            currentId: 0,
            pageInfo: {
                pageIndex: 1,
                pageSize: 10,
                pageCount: 0,
                totalCount: 0
            },
            checkedIds: [],
            currentId: 0
        },
        mounted: function () {
            this.search();
        },
        methods: {

            search: function (filter) {
                var _self = this;
                var searchData = {
                    activityId:'@ViewBag.id',
                    pageIndex: this.pageInfo.pageIndex,
                    pageSize: this.pageInfo.pageSize,
                }
     
                var couponNumber = $("#CouponNumber").val();
               


                if (couponNumber && couponNumber.length > 0) {
                    searchData.couponNumber = couponNumber;
                }
                if (filter) {
                    searchData = _.extend(searchData, filter)
                }
                $.getJSON(baseUrl + '/CouponList', searchData).done(function (res) {
                    if (res.ResultType !== 3) {
                        //console
                        return;
                    }
                    var pageInfo = res.Data.pageInfo;
                    var pageData = res.Data.pageData;
                    //判断是否已在列表中
                    _self.pageDatas = pageData;
                    _self.pageInfo = pageInfo;
                })
            },
            changePage: function (page) {
                this.pageInfo.pageIndex = page;
                this.search();
            },
            changePageSize: function (newSize) {
                this.pageInfo.pageSize = newSize;
                this.pageInfo.pageIndex = 1;
                this.search();
            }
        }
    })

    })

</script>