<div class="row">
    <div class="col-lg-4">
        <div class="stat-panel">
            <div class="stat-row">
                <div class="stat-cell bg-success">
                    <i class="fa fa-cubes bg-icon" style="line-height:80px;height:80px;padding-top:20px;"></i>
                    <div class="text-bg">本店交易率统计</div>
                </div>
            </div>
            <div class="stat-row">
                <div class="stat-counters bordered no-border-t text-center">
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>97%</strong></span><br>
                        <span class="text-sm">成交率</span>
                    </div>
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>3%</strong></span><br>
                        <span class="text-xs">退货率</span>
                    </div>
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>16%</strong></span><br>
                        <span class="text-xs">入会率</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="stat-panel">
            <div class="stat-row">
                <div class="stat-cell bg-warning" style="height: 155px;">
                    <i class="fa fa-star-o bg-icon" style="line-height:80px;height:80px;padding:10px 0px 0px 50px;"></i>
                    <span class="text-bg">完成本月业绩</span><br>
                    <div style="height: 8px;"></div>
                    <span class="text-bg"><strong>75%</strong></span><br>
                    <span class="text-sm">差额：25%</span><br>
                    <span class="text-sm">努力冲刺吧！</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="stat-panel">
            <div class="stat-cell bg-danger valign-middle">
                <i class="fa fa-comments bg-icon"></i>
                <span class="text-bg">会员评价</span><br>
                <div style="height: 8px;"></div>
                <span class="text-bg"><strong>124条</strong></span><br>
                <span class="text-sm">好评：62 条</span><br>
                <span class="text-sm">中评：34 条</span><br>
                <span class="text-sm">差评：28 条</span><br>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="stat-panel">
            <div class="stat-row">
                <div class="stat-cell bg-primary darker">
                    <i class="fa fa-lightbulb-o bg-icon" style="line-height:80px;height:80px;padding-top:20px;"></i>
                    <span class="text-bg">本店进销存总览</span>
                </div>
            </div>
            <div class="stat-row">
                <div class="stat-counters bg-primary no-border-b no-padding text-center">
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>12</strong></span><br>
                        <span class="text-xs">库存</span>
                    </div>
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>17</strong></span><br>
                        <span class="text-xs">售出</span>
                    </div>
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>49</strong></span><br>
                        <span class="text-xs">进货</span>
                    </div>
                </div>
            </div>
            <div class="stat-row">
                <div class="stat-counters bg-primary no-border-b no-padding text-center">
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>203</strong></span><br>
                        <span class="text-xs">退货</span>
                    </div>
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>1056</strong></span><br>
                        <span class="text-xs">会员</span>
                    </div>
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <span class="text-bg"><strong>56</strong></span><br>
                        <span class="text-xs">试衣</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr class="sale-hr" />

<div class="row">
    <div class="col-lg-5">

        <div class="panel widget-followers">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-area-chart"></i>30天热卖排行榜</span>
            </div>
            <div class=" padding-sm">
                <ul class="sale-box">
                    <li>
                        <div class="sale-thumb">
                            <div style="display:block;width:80px;height:80px;overflow:hidden;border:1px solid #eaeaea;margin:0 auto 0 auto;">
                                <img alt="User" src="/Content/UploadFiles/Products/Test/17/封面.jpg" style="margin:2px;max-width:74px;">
                            </div>
                            <span class="sale-label">145</span>
                        </div>
                        <div class="sale-main">
                            <span class="sale-info"><a href="#">白色 都市 包身 连衣裙</a></span>
                            <p>我们在各自的小路上匆匆行走，一直未曾停留，不经意间在某个路口相遇，于是轻轻问候，淡淡寒暄，然后挥手说再见。 </p>
                        </div>
                    </li>
                    <li>
                        <div class="sale-thumb">
                            <div style="display:block;width:80px;height:80px;overflow:hidden;border:1px solid #eaeaea;margin:0 auto 0 auto;">
                                <img alt="User" src="/Content/UploadFiles/Products/Test/15/封面.jpg" style="margin:2px;max-width:74px;">
                            </div>
                            <span class="sale-label">114</span>
                        </div>
                        <div class="sale-main">
                            <span class="sale-info"><a href="#">粉色 镶钻 奢华 连衣裙</a></span>
                            <p>品味如音乐会般内向默契，简致饱含得体尊重的高尚情感，低雅注重明暗与质感的光影对比，将自己高贵展示，出席人生的时时刻刻。 </p>
                        </div>
                    </li>
                    <li>
                        <div class="sale-thumb">
                            <div style="display:block;width:80px;height:80px;overflow:hidden;border:1px solid #eaeaea;margin:0 auto 0 auto;">
                                <img alt="User" src="/Content/UploadFiles/Products/Test/13/封面.jpg" style="margin:2px;max-width:74px;">
                            </div>
                            <span class="sale-label">82</span>
                        </div>
                        <div class="sale-main">
                            <span class="sale-info"><a href="#">复古 镂空 收腰 纯洁白色 连衣裙</a></span>
                            <p>光洁的风轻拍着回忆，宁馨香气穿透岁月的阻隔，在唇齿间、在血液里流旋，爱，携永此时。 </p>
                        </div>
                    </li>
                    <li>
                        <div class="sale-thumb">
                            <div style="display:block;width:80px;height:80px;overflow:hidden;border:1px solid #eaeaea;margin:0 auto 0 auto;">
                                <img alt="User" src="/Content/UploadFiles/Products/Test/11/封面.jpg" style="margin:2px;max-width:74px;">
                            </div>
                            <span class="sale-label">142</span>
                        </div>
                        <div class="sale-main">
                            <span class="sale-info"><a href="#">复古 镂空 收腰 纯洁白色 连衣裙</a></span>
                            <p>光洁的风轻拍着回忆，宁馨香气穿透岁月的阻隔，在唇齿间、在血液里流旋，爱，携永此时。 </p>
                        </div>
                    </li>
                    <li>
                        <div class="sale-thumb">
                            <div style="display:block;width:80px;height:80px;overflow:hidden;border:1px solid #eaeaea;margin:0 auto 0 auto;">
                                <img alt="User" src="/Content/UploadFiles/Products/Test/3/封面.jpg" style="margin:2px;max-width:74px;">
                            </div>
                            <span class="sale-label">108</span>
                        </div>
                        <div class="sale-main">
                            <span class="sale-info"><a href="#">复古 镂空 收腰 纯洁白色 连衣裙</a></span>
                            <p>光洁的风轻拍着回忆，宁馨香气穿透岁月的阻隔，在唇齿间、在血液里流旋，爱，携永此时。 </p>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-warning btn-mini viewall">查看所有</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="panel widget-followers">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-line-chart"></i>30天销量曲线 - @DateTime.Now.Date.AddMonths(-1).ToString("yyyy年MM月dd日") 至 @DateTime.Now.Date.ToString("yyyy年MM月dd日")</span>
            </div>
            <div class="padding-sm">
                <div id="sale-chart" style="height: 300px;"></div>
            </div>
        </div>

        <div class="panel widget-followers">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-eye"></i>30天热卖颜色</span>
            </div>
            <div class="padding-sm">
                <div id="color-chart" style="height: 200px;"></div>
            </div>
        </div>

    </div>


</div>

<div class="row">

    <div class="col-lg-5">
        <div class="panel widget-followers">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-futbol-o"></i>30天热卖品牌</span>
            </div>
            <div class="padding-sm">
                <div id="brand-chart" style="height: 200px;"></div>
            </div>
        </div>
    </div>


    <div class="col-lg-7">
        <div class="panel widget-followers">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-signal"></i>30天热卖品类</span>
            </div>
            <div class="padding-sm">
                <div id="category-chart" style="height: 207px;"></div>
                <div id="main" style="height:400px"></div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

    </script>
}