@Html.CssBlock("/Content/Styles/Layout/payment.css")
<div class="rt_content_box ">
	<div class="pay_bg">
		<div class="payment_content">
			<h3 class="pay_order">支付订单</h3>
			<div class="payment_baran">
				<p>订单提交完成 ，请您尽快付款。 支付单号：<span class="pay_txt">111122224333</span></p>
				<p><span class="pay_clothes">藏蓝高腰阔腿库  &nbsp;&nbsp;</span><span class="pay_sizes"> &nbsp;&nbsp;L &nbsp;&nbsp;</span><span class="pay_colour"> &nbsp;&nbsp; 黑色&nbsp;&nbsp;</span><span class="pay_price"> &nbsp;&nbsp; 8888.00 &nbsp;&nbsp;</span>元</p>
			</div>

		</div>

		<div class="payment_box">
			<p class="payment_one">
				<span class="stored_value">储值支付</span>
				<span class="pay_balance">储值余额  ：</span> &nbsp;&nbsp; &nbsp;&nbsp; <span class="pay_moneny">8888.00</span> &nbsp;&nbsp; <span>元</span>
			</p>
			<p class="payment_tow">
				<div class="payment_tow_box">
						<span class="stored_value"></span>
					<span class="stored_jifen">积分  ：</span>  &nbsp;&nbsp; &nbsp;&nbsp; <span class="pay_moneny">88888888 </span>&nbsp;&nbsp; <span>分</span>&nbsp;&nbsp;&nbsp;&nbsp;
					<span><a href="###" class="exchange">兑换</a></span>
				</div>
			</p>
			<p class="payment_three">
				<div class="payment_tree_box">
						<span class="stored_value"></span>
					<span class="pay_integral">已支付 ：</span>&nbsp;&nbsp; &nbsp;&nbsp;<span class="exchange_done">8888.00</span> &nbsp;&nbsp;元</div>
			</p>
			<p class="payment_four">
				<div class="payment_four_box"><span class="stored_online">在线支付</span><span class="pay_for_me">还需支付 ：</span> &nbsp;&nbsp; &nbsp;&nbsp; <span class="pay_moneny">8888.00</span>&nbsp;&nbsp; <span>元</span></div>
			</p>
				<div id="payment_sure">
					确认付款
				</div>
		</div>

	</div>
</div>
