@Html.CssBlock("/Content/Styles/Layout/payment.css")
<div class="rt_content_box ">
		<div class="payment_done_content">
			<div class="payment_done_box">
				<div class="payment_done_txt">
					<img src="/Content/Images/pay_done.png" alt="" /> <span>您已经成功付款</span> <span class="pay_price"> &nbsp;&nbsp; 8888.00 &nbsp;&nbsp;</span>元
				</div>
				<div class="payment_done_txts">
					<span>货物送至 ：</span> <span>北京  &nbsp;北京市 &nbsp;海淀区 &nbsp; 安迪  收  <span class="">18888887878</span>
					<a class="payment_done_home" href="###">默认地址</a>
					</span>
				</div>
			</div>
				<a class="payment_done_check" href="###"> 查看订单</a>
		</div>
</div>
