@Html.CssBlock("/Content/Styles/Layout/preorder.css")
<div class="preorder_content">
	<div class="preorder_box">
		<div class="contentScroll" style="width:100%">
	订单信息
	<div class="consigneeInfo">
		<div class="consigneeInfo_titel">
			<div class="Infotitel">收货人信息</div>
			<div class="newAdress"><strong style="font-size: 27px;line-height: 23px;">+</strong>新增收货地址</div>
		</div>
		<div class="consigneeInfoBox">

			<div class="consigneeInfoDetails">
				<table class="adressTable">
					<tr>
						<td colspan="2" class="adressmain">杜俊英&nbsp;&nbsp;&nbsp;&nbsp;北京<img src="/Content/Images/Theme/active_adress03.png" alt="" class="ic_activeAdress_img" /></td>
						<td>北京市</td>
						<td>昌平区</td>
						<td>沙河地区</td>
						<td>于辛庄</td>
						<td>182828*****8</td>
						<td class="defaultAdress">
							<div>默认地址</div>
						</td>
						<td class="fixAdress">修改</td>
					</tr>
					<tr>
						<td colspan="2" class="">杜俊英&nbsp;&nbsp;&nbsp;&nbsp;北京</td>
						<td>北京市</td>
						<td>昌平区</td>
						<td>沙河地区</td>
						<td>于辛庄</td>
						<td>182828*****8</td>
						<td class=""></td>
						<td class="fixAdress">修改</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<div class="consigneeInfo">
		<div class="consigneeInfo_titel">
			<div class="Infotitel">送货清单</div>
			<div class="newAdress">返回购物车修改</div>
		</div>
		<div class="DistributionlistBox">
			<div class="listoption">
				<div class="listoptionbox">
					<div class="listoptionTitle">配送方式</div>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="Distributionway" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					            选择配货方式
					    <span class="caret"></span>
					  </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li>
							<a href="javascript:void(0)">在线支付</a>
						</li>
						<li>
							<a href="javascript:void(0)">货到付款</a>
						</li>
					</ul>
				</div>
					
				</div>
				
				
				<div class="listoptionbox">
					<div class="listoptionTitle">优惠券</div>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="Couponsway" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					            选择优惠券
					    <span class="caret"></span>
					  </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li>
							<a href="javascript:void(0)">满2000减300</a>
						</li>
						<li>
							<a href="javascript:void(0)">满5000减1000</a>
						</li>
					</ul>
				</div>
					
				</div>
				
				<div class="listoptionbox">
					<div class="listoptionTitle">店铺活动</div>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="StoreActiveWay" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					            选择店铺活动
					    <span class="caret"></span>
					  </button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li>
							<a href="javascript:void(0)">端午节全场8这</a>
						</li>
						<li>
							<a href="javascript:void(0)">VIP会员减免</a>
						</li>
					</ul>
				</div>
					
				</div>
				
				<div class="listoptionbox">
					<div class="listoptionTitle">备注</div>
					<textarea name="" rows="" cols=""></textarea>
					
				</div>
				
				
			</div>
			<div class="listproduct">
				<table>
					<tr>
						<td rowspan="3" width="1%"><img width="100px" src="http://www.0-fashion.com/Content/Images/20160727134254.jpg" /></td>
						<td colspan="2" width="5%">藏蓝高腰阔腿裤</td>
						<td width="2%">L</td>
						<td width="2%">黑色</td>
					</tr>
					<tr>
						<td colspan="2" width="5%" style="color:#c9a978">&yen;1680.00 <b>X    1</b></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2" width="5%">&nbsp</td>
						<td></td>
						<td></td>
					</tr>
				</table>	
					<table>
					<tr>
						<td rowspan="3" width="1%"><img width="100px" src="http://www.0-fashion.com/Content/Images/20160727134254.jpg" /></td>
						<td colspan="2" width="5%">藏蓝高腰阔腿裤</td>
						<td width="2%">L</td>
						<td width="2%">黑色</td>
					</tr>
					<tr>
						<td colspan="2" width="5%" style="color:#c9a978">1680.00<b>X    1</b></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2" width="5%">&nbsp</td>
						<td></td>
						<td></td>
					</tr>
				</table>	
					<table>
					<tr>
						<td rowspan="3" width="1%"><img width="100px" src="http://www.0-fashion.com/Content/Images/20160727134254.jpg" /></td>
						<td colspan="2" width="5%">藏蓝高腰阔腿裤</td>
						<td width="2%">L</td>
						<td width="2%">黑色</td>
					</tr>
					<tr>
						<td colspan="2" width="5%" style="color:#c9a978">&yen;1680.00<b>X    1</b></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2" width="5%">&nbsp</td>
						<td></td>
						<td></td>
					</tr>
				</table>	
					<table>
					<tr>
						<td rowspan="3" width="1%"><img width="100px" src="http://www.0-fashion.com/Content/Images/20160727134254.jpg" /></td>
						<td colspan="2" width="5%">藏蓝高腰阔腿裤</td>
						<td width="2%">L</td>
						<td width="2%">黑色</td>
					</tr>
					<tr>
						<td colspan="2" width="5%" style="color:#c9a978">&yen;1680.00<b>X    1</b></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="2" width="5%">&nbsp</td>
						<td></td>
						<td></td>
					</tr>
				</table>	
			</div>
		</div>
	</div>


	<div class="consigneeInfo">
		<div class="odersbox">
		<table>
			<tr>
				<td>3件商品，总金额:</td>
				<td>&yen;1680.99</td>
			</tr>
			<tr>
				<td>优惠券:</td>
				<td>-&yen;50</td>
			</tr>
			<tr>
				<td>店铺活动:</td>
				<td>-&yen;3000</td>
			</tr>
			<tr>
				<td>运费:</td>
				<td>+&yen;10</td>
			</tr>
		</table>
		</div>
	</div>
	<div class="conmitOrders">
		<div id="conmit">提交订单</div>
		<div class="allCount">应付款总金额:<b>&yen;6452</b></div>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
	$(function(){
		$(".preorder_content").panel({
		iWheelStep: 28
	  });
		
		$(".dropdown-menu li").bind('click',function(){
			var $thisValue=$(this).text();
			var parentBtn=$(this).parent().siblings("button");
			parentBtn.html($thisValue+'<span class="caret"></span>');
		});
		$(".newAdress").click(function(){
			//页面层
			layer.open({
			  type: 1,
		      title:" ",
			  area: ['70%', '75%'], //宽高
			  content: '<div class="adressBox">'
			 				 +'<div class="adress_userName"><label><span class="required">*</span>收货人:</label><input type="text"></div>'
			 				  +'<div class="adress_location"><label><span class="required">*</span>所在地:</label><div id="distpicker4" data-toggle="distpicker"><select></select><select></select><select></select></div></div>'
			 				    +'<div class="adress_location_details"><label><span class="required">*</span>详细地址:</label><input type="text"></div>'
			 				     +'<div class="adress_phoneNum"><label><span class="required">*</span>手机号:</label><input type="text">'
			 				     	+'<label>固定电话:</label><input type="text">'
			 				     +'</div>'
			 				     +'<div class="adress_email"><label>邮箱:</label><input type="text"></div>'
			 				     +'<div class="adress_defaultCheackbox"><label></label><input type="checkbox">设为默认地址</div>'
			 				       +'<div class="adress_commit"><label></label><button class="saveBtn">保存收货信息</button></div>'
			  			+'</div>'
			});
			$("#distpicker4").distpicker({
			  placeholder: false
			});
		})
	})
</script>