<style>
    .modal-content {
        width: 1053px;
    }
      #Clear {
   	background: #e5603b !important;
   	}
</style>
<div class="row memb-lis">
    <div class="panel panel-search">
        <div class="clearfix">
            <div class="col-md-4 panel-title">
                <h5><i class="fa fa-search"></i> <span>查询条件</span></h5>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-search form-sear-lis" >
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label col-md-5">员工昵称：</label>
                        <div class="col-md-7">
                            @Html.TextBox("Member.MemberName", "", new { @class = "form-control", placeholder = "输入员工昵称" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label col-md-5">员工姓名：</label>
                        <div class="col-md-7">
                            @Html.TextBox("Member.RealName", "", new { @class = "form-control", placeholder = "输入员工姓名" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label col-md-5">电话号码：</label>
                        <div class="col-md-7">
                            @Html.TextBox("Member.MobilePhone", "", new { @class = "form-control", placeholder = "输入电话号码" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group no-margin-hr">
                        <label class="control-label col-md-5">性别：</label>
                        <div class="col-md-7">
                            <select id="Member_Gender" name="Member.Gender" class="form-control selectpicker">
                                <option value="">选择性别</option>
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-right clearfix ">

            <div class="pull-left">
                <button id="Search" title="按条件搜索数据" type="button" class="btn btn-primary btn-padding-right"><i class="fa fa-search"></i> <span>搜索</span></button>
                <button id="Clear" title="重置搜索栏的各项输入" type="button" class="btn btn-danger btn-padding-right"><i class="fa fa-refresh"></i> <span>清除</span></button>
            </div>

        </div>
    </div>
</div>

<script src="~/Content/Scripts/Common/comm.js"></script>
<div class="row">
    <div class="panel panel-list">
        <div class="panel-heading clearfix">
            <div class="col-md-4 panel-title">
                <h5><i class="fa fa-list"></i> <span>数据列表</span></h5>
            </div>
           
        </div>
        <table class="table mem-li-tab table-list valign-middle" width="100%">
            <thead>
            </thead>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).delegate(".mem-li-tab tbody tr", "mousemove", function () {
            $(this).css("cursor", "pointer").addClass("success");
        }).delegate(".mem-li-tab tbody tr", "mouseleave", function () {
            $(this).removeClass("success");
        }).delegate(".mem-li-tab tbody tr", "click", function () {
            $(this).find("input[type='radio']").attr("checked", "checked");
        });;
        $.whiskey.datatable.instances[0]=$(".mem-li-tab").dataTable({
            "bScrollCollapse": false,
            "sAjaxSource": "AdminList",
            "fnServerParams": function (aoData) {
                var conditions = new $.whiskey.filter.group();
                
                $(".memb-lis input").each(function () {
                    var field = $(this).attr("Id");
                    var value = $(this).val();
                    if (value != null && value.length > 0) {
                        conditions.Rules.push(new $.whiskey.filter.rule(field, value, "contains"));
                    }
                });
                $(".memb-lis select").each(function () {
                    var field = $(this).attr("Id");
                    var value = $(this).find("option:selected").val();
                    if (value != null && value.length > 0) {
                        conditions.Rules.push(new $.whiskey.filter.rule(field, value, "equal"));
                    }
                });
                conditions.Rules.push(new $.whiskey.filter.rule("IsDeleted", "false", "equal"));
                conditions.Rules.push(new $.whiskey.filter.rule("IsEnabled", "true", "equal"));
                conditions.Rules.push(new $.whiskey.filter.rule("DepartmentId", "@Request["DepartmentId"]", "equal"));
                aoData.push({ name: "conditions", value: JSON.stringify(conditions) });
            },

            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                $("td:eq(0)", nRow).html(iDisplayIndex + 1);
                return nRow;
            },
            "aoColumns": [{
                "bVisible": false,
                "bSearchable": false,
                "sName": "Id",
                "mData": "Id"
            },
           
			{
			    "sTitle": "编号",
			    "bSortable": false,
			    "sName": "RowNumber",
			    "mData": function (data) {
			        return '';
			    }
			},
			{
			    "sTitle": "部门",
			    "bSortable": false,
			    "sName": "DepartmentName",
			    "mData": function (data) {
			        return data.DepartmentName;
			    },
			},
            {
                "sTitle": "昵称",
                "bSortable": false,
                "sName": "AdminName",
                "mData": function(data){
                    return data.MemberName;
                },
            }, 
            {
                "sTitle": "姓名",
                "bSortable": false,
                "sName": "RealName",
                "mData": function(data){
                    return data.RealName;
                },
            },
            {
                "sTitle": "性别",
                "bSortable": false,
                "sName": "Gender",
                "mData": function (data) {
                    return data.Gender == 1 ? "男" : "女";
                },
            },
            {
                "sTitle": "手机号码",
                "bSortable": false,
                "sName": "MobilePhone",
                "mData": function (data) {
                    return data.MobilePhone;
                },
            },
            {
                "sTitle": "选择",
                "bSortable": false,
                "bSearchable": false,
                "mData": function (data) {
                    return "<input class='form-control' value=" + data.Id + " name='sel_rad' type='radio'/>";
                }
            }
            ]
        })
        $(".memb-lis #Search").click(function(){
            $.whiskey.datatable.instances[0].fnDraw(false);
        });
        $(".memb-lis #Clear").click(function () {
            $(".memb-lis .form-search input").val("");
        });
        $(".bootbox-close-button:last").click(function () {
            $(".creat_div").parents(".modal-content:first").show();
        });
    });
</script>
<script>
    // selectpicker 初始化
    $(function () {
        $('.selectpicker').selectpicker();
    })
</script>