
@using Whiskey.ZeroStore.ERP.Transfers
@model PosLocationDto

<style>

</style>

<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.Name) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>

<script>
    $(function () {
        

    });
</script>

