<div id="app">

    <div class="row">
        <div class="panel panel-search">
            <div class="panel-heading clearfix">
                <div class="col-md-4 panel-title">
                    <h5><i class="fa fa-search"></i> <span>查询条件</span></h5>
                </div>
                <div class="col-md-8 text-right">
                    <switcher-search></switcher-search>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-search">
                    <div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label col-md-4">会员名</label>
                            <div class="col-md-8">
                                <input v-on:keyup.enter="search({pageIndex:1})" class="form-control" type="text" name="name" id="name" placeholder="请输入会员名" />

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label col-md-4">手机号</label>
                            <div class="col-md-8">
                                <input v-on:keyup.enter="search({pageIndex:1})" class="form-control" type="text" name="MobilePhone" id="MobilePhone" placeholder="请输入会员名" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group no-margin-hr">
                            <label class="control-label col-md-5">创建日期：</label>
                            <div class="col-md-7">
                                <div class="input-daterange input-group">
                                    @Html.TextBox("StartDate", "", new { @class = "start-date input-sm form-control", @placeholder = "开始日期" })
                                    <span class="input-group-addon">至</span>
                                    @Html.TextBox("EndDate", "", new { @class = "end-date input-sm form-control", @placeholder = "结束日期" })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right clearfix ">

                <div class="pull-left">
                    <button v-on:click="search(null)" title="按条件搜索数据" type="button" class="btn btn-primary btn-padding-right"><i class="fa fa-search"></i> <span>搜索</span></button>
                    <button v-on:click="document.querySelector('.form-search').reset()" title="重置搜索栏的各项输入" type="button" class="btn btn-danger btn-padding-right"><i class="fa fa-refresh"></i> <span>清除</span></button>
                </div>

                <div class="pull-right">
                    <div class="button-normal">
                        <button v-on:click="importMember" title="导入数据" type="button" class="btn btn-success btn-padding-right"><i class="fa fa-plus"></i> <span>导入数据</span></button>

                    </div>
                    <div class="button-recycle">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-list">
            <div class="panel-heading clearfix">
                <div class="col-md-4 panel-title">
                    <h5><i class="fa fa-list"></i> <span>数据列表</span></h5>
                </div>
                <div class="col-md-8 text-right">
                    @*<span><input v-on:change="toggleEnable" class="enabler" type="checkbox" data-class="switcher-default" v-bind:checked="isEnabled"></span>*@
                </div>
            </div>
            <table class="table table-list table-hover valign-middle" width="100%">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>总数</th>
                        <th>导入成功数</th>
                        <th>归属店铺</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in pageDatas">
                        <td>{{index+1}}</td>
                        <td>{{item.TotalCount}}</td>
                        <td><span class="label label-success" v-on:click="showMember(item.Id)" style="cursor:pointer;">{{item.SuccessCount}}</span></td>
                        <td>{{item.StoreName?item.StoreName:'无'}}</td>
                        <td>{{item.CreatedTime|datetime}}</td>
                        <td>
                            <button type="button" title="查看详细信息" v-on:click="view(item.Id)" class="btn-opt-box"><i class="btn-view-icon"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
            <my-page v-bind:current="pageInfo.pageIndex"
                     v-bind:total="pageInfo.totalCount"
                     v-bind:page-size="pageInfo.pageSize"
                     v-bind:page-size-opts="[10,20]"
                     @@on-change="changePage"
                     @@on-page-size-change="changePageSize">
            </my-page>
        </div>
    </div>


</div>

<script>
    var memberImportVM;
    $(function () {
        var baseUrl = '/Commons/MemberImport';
        var memberIds = [];
        memberImportVM = new Vue({
            el: "#app",
            data: {
                id: 0,
                isLimit: 0,
                isDeleted: false,
                isEnabled: true,
                recommendIds: memberIds.concat([]),
                numbers: [],
                pageDatas: [], //分页数据
                currentId: 0,
                pageInfo: {
                    pageIndex: 1,
                    pageSize: 10,
                    pageCount: 0,
                    totalCount: 0
                },
                checkedIds: [],
                currentId: 0,
            },
            mounted: function () {
                this.search();
            },
            methods: {
                 view: function (id) {
                    var _self = this;
                    var dialog = new $.whiskey.web.ajaxView({
                        caption: "查看数据",
                        actionUrl: "@Url.Action("View")",
                        lockButton: $(this),
                        params: { Id:id}

                    });
                },
                showMember(recordId) {
                    var dialog = new $.whiskey.web.ajaxView({
                            caption: "创建数据",
                            actionUrl: "@Url.Action("MemberSelect")",
                            lockButton: $(this),
                            params: { recordId: recordId },

                     });
                 },
                 importMember() {
                     //[批量导入]按钮
                     var dialog = new $.whiskey.web.ajaxDialog({
                         caption: "批量导入",
                         successTit: "确定",
                         //successEvent: select_check_Access,
                         actionUrl: `${baseUrl}/BatchImport`,
                         noneheader: true,
                         lockButton: $(this),
                         methType: "post",
                         formValidator: function () {
                             importMemberVM.saveMember();
                             return false;
                         },
                         postComplete: function () {
                             return false;
                         },
                     });
                 },

                 search: function (filter) {

                     var _self = this;

                     var searchData = {

                         pageIndex: this.pageInfo.pageIndex,
                         pageSize: this.pageInfo.pageSize,
                     }
                     var startDate = $("#StartDate").val();
                     var endDate = $("#EndDate").val();
                     var name = $("#name").val();
                     var mobilePhone = $("#MobilePhone").val();
                     if (startDate) {
                         searchData.startDate = startDate;
                     }
                     if (endDate) {
                         searchData.endDate = endDate;
                     }

                     if (name && name.length > 0) {
                         searchData.name = name;

                     }
                     if (mobilePhone && mobilePhone.length > 0) {
                         searchData.mobilePhone = mobilePhone;

                     }
                     if (this.isLimit === 1) {
                         searchData.recommendIds = memberIds.join(',');
                     }
                     if (filter) {

                         searchData = _.extend(searchData, filter)
                     }

                     $.getJSON(baseUrl + '/List', searchData).done(function (res) {
                         if (res.ResultType !== 3) {
                             //console
                             return;
                         }
                         var pageInfo = res.Data.pageInfo;
                         var pageData = res.Data.pageData;
                         //判断是否已在列表中

                         _self.pageDatas = pageData;
                         _self.pageInfo = pageInfo;
                     })
                 },
                 changePage: function (page) {
                     this.pageInfo.pageIndex = page;
                     this.search();
                 },
                 changePageSize: function (newSize) {

                     this.pageInfo.pageSize = newSize;
                     this.pageInfo.pageIndex = 1;
                     this.search();
                 },
                 addMemberId: function (memberId) {
                     if (this.recommendIds.indexOf(memberId) === -1) {
                         this.recommendIds.push(memberId);
                     }
                 },
                 removeMemberId: function (memberId) {
                     var index = this.recommendIds.findIndex(x => x == memberId);
                     if (index !== -1) {
                         this.recommendIds.splice(index, 1);
                     }
                 },
                 batchRecommend: function () {
                     var ids = this.pageDatas.map(i => i.Id);
                     ids.forEach(id => this.addMemberId(id));

                 },
                 batchRemoveRecommend: function () {
                     var ids = this.pageDatas.map(i => i.Id);
                     ids.forEach(id => this.removeMemberId(id));
                 },
                 save: function () {

                     var data = {
                         id: this.id,
                         recommendMemberIds: this.recommendIds
                     };
                     $.post(baseUrl + "/SaveMemberId", data)
                         .done(function (res) {
                             if (res.ResultType !== 3) {
                                 alert(res.Message);
                                 return;
                             }
                             else {

                                 $("button[data-dismiss=modal]").trigger('click');
                                 $.whiskey.datatable.reset(false);
                             }
                         })
                 }

            }

        })
    })

</script>